@import 'defaults';

.m-group__grid {
  // new stacking context
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: row;

  .m-groupGrid__left {
    flex: 2;
  }

  .m-groupGrid__right {
    flex: 1;
    min-width: 33%;
    width: 33%;
    @include m-theme() {
      border-left: 1px solid themed($m-borderColor--primary);
    }
  }

  @media screen and (max-width: 700px) {
    display: block;
    .m-groupGrid__right {
      min-width: 100%;
      width: 100%;
    }
  }

  .m-groupGrid__toggleBtn {
    position: fixed;
    top: 55px;
    right: 60px;
    display: block;
    z-index: 1;
    cursor: pointer;

    @media screen and (max-width: $min-desktop) {
      right: 8px;
      top: 106px;
    }

    i {
      font-size: 32px;
    }

    .material-icons {
      @include m-theme() {
        text-shadow: 0px 0px 1px themed($m-white), 0px 0px 1px themed($m-white);
        color: themed($m-grey-400);
      }
    }
  }
}

.m-group__feeds {
  position: relative;
  padding: 8px;
  max-width: 780px;
  margin: auto;
}

.m-group__infoWrapper {
  margin: auto;
  padding: 8px;
}

.m-group__info {
  margin: auto;
  padding: 16px;
  position: relative;
  max-width: 780px;
  box-sizing: border-box;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }

  minds-avatar {
    width: 100px;
    height: 100px;
    margin: -70px 0 0;
    padding: 0;
    display: block;

    .minds-avatar {
      margin: 0;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .m-groupInfo__name {
    margin: 8px 0;

    h1 {
      margin: 0;
      display: inline;
      vertical-align: middle;
      font-size: 24px;
      font-weight: 600;
    }
  }

  .m-groupInfo__description {
    white-space: pre-line;
    margin-top: 16px;
    line-height: 1.25;
  }

  .m-groupInfo__actionButtons {
    margin-top: 10px;
    display: inline-flex;

    @media screen and (max-width: 700px) {
      .m-gatheringIcon {
        display: none;
      }
    }
  }

  .m-groupInfo__member-previews {
    position: absolute;
    top: 8px;
    left: 126px;
    width: calc(100% - 200px);

    @media screen and (max-width: 700px) {
      .m-groupMemberPreviews__member {
        display: none;
      }
    }
  }
}

.m-group__goBack {
  text-decoration: none;
  margin-left: 8px;
  margin-bottom: 16px;
  display: block;
}

m-groups--profile .m-group__grid header {
  height: 180px;

  minds-banner .minds-banner {
    max-height: 268px;
    height: 268px;

    .minds-banner-overlay {
      display: none;
    }
  }
}

.m-group__splash--closed-group {
  .m-groupSplash__inner {
    margin: auto;
    max-width: 990px;
    text-align: center;

    h1 {
      font-weight: 500;
    }
  }

  .m-groupSplash__avatar {
    margin-top: -50px;

    .minds-avatar {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      background-size: cover;
      margin: auto;
    }
  }

  .m-groupSplash__error {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    @include m-theme() {
      color: themed($m-red);
    }
  }
}

.m-group-profile__Filter {
  max-width: 780px;
  margin: 8px auto;
  padding: 8px;
  box-sizing: border-box;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }
}

.m-theme__2020 {
  .m-group__infoWrapper,
  .m-group__feeds {
    margin: 0 40px; // TODO: make constant

    @media screen and (max-width: $layoutMax2ColWidth) {
      margin: 0;
    }
  }
  .m-groupGrid__toggleBtn {
    top: 75px;
  }
}
