<div
  class="m-sidebarNavigation"
  [class.m-sidebarNavigation--slide]="layoutMode === 'phone'"
  (click)="onSidebarNavClick($event)"
>
  <nav>
    <div class="m-sidebarNavigation__top">
      <a
        routerLink="/"
        title="Home"
        i18n-title="@@COMMON__HOME"
        (click)="toggle()"
      >
        <img
          *ngIf="layoutMode !== 'phone'"
          [src]="cdnAssetsUrl + 'assets/logos/bulb.svg'"
        />
        <ng-container *ngIf="layoutMode === 'phone'">
          <img
            *ngIf="!isDarkTheme"
            [src]="cdnAssetsUrl + 'assets/logos/medium-production.png'"
          />
          <img
            *ngIf="isDarkTheme"
            [src]="cdnAssetsUrl + 'assets/logos/medium-white.png'"
          />
        </ng-container>
        <m-environmentFlag
          class="m-sidebarNavigation__environmentFlag"
        ></m-environmentFlag>
      </a>

      <i class="material-icons" (click)="toggle()">close</i>
    </div>

    <ul class="m-sidebarNavigation__list">
      <li
        class="m-sidebarNavigation__item m-sidebarNavigation__item--compose"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="user"
      >
        <a (click)="openComposeModal()" data-ref="sidenav-composer">
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon
              from="assets-file"
              iconId="assets/icons/compose.svg"
              [sizeFactor]="90"
              m-tooltip--icon
            ></m-icon>
            <ng-container>Speak your mind</ng-container>
          </m-tooltip>

          <span
            class="m-sidebarNavigationItem__text m-legible"
            i18n="@@COMMON__COMPOSE"
          >
            Compose
          </span>
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        *ngIf="user"
      >
        <a
          [routerLink]="['/newsfeed/subscriptions']"
          (click)="toggle()"
          data-ref="sidenav-newsfeed"
        >
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon iconId="home" [sizeFactor]="27" m-tooltip--icon></m-icon
            ><ng-container i18n="@@COMMON__NEWSFEED"
              >Newsfeed</ng-container
            ></m-tooltip
          >

          <span
            class="m-sidebarNavigationItem__text m-legible"
            i18n="@@COMMON__NEWSFEED"
            >Newsfeed</span
          >
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        [routerLinkActiveOptions]="{ exact: plusPageActive }"
      >
        <a
          [routerLink]="shouldBeDiscoveryHomepage() ? '/' : '/discovery'"
          (click)="toggle()"
          data-ref="sidenav-discovery"
        >
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <i class="m-icon--hashtag" m-tooltip--anchor>#</i>
            <ng-container i18n="@@COMMON__DISCOVERY">Discovery</ng-container>
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text m-legible">
            <ng-container
              *ngIf="showExploreExperiment(); else showDiscoveryText"
              i18n="@@COMMON__EXPLORE"
              >Explore</ng-container
            >
            <ng-template #showDiscoveryText i18n="@@COMMON__DISCOVERY"
              >Discovery</ng-template
            >
          </span>
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        [routerLinkActiveOptions]="{ exact: !plusPageActive }"
      >
        <a
          routerLink="/discovery/plus/overview"
          (click)="toggle()"
          data-ref="sidenav-plus"
        >
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <i class="material-icons" m-tooltip--anchor>add_to_queue</i>
            <ng-container i18n="@@COMMON__MINDS+">Minds+</ng-container>
          </m-tooltip>

          <span
            class="m-sidebarNavigationItem__text m-legible"
            i18n="@@COMMON__MINDS+"
            >Minds+</span
          >
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        *ngIf="user"
      >
        <a
          [routerLink]="['/wallet']"
          (click)="toggle()"
          data-ref="sidenav-wallet"
        >
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon
              iconId="account_balance"
              [sizeFactor]="27"
              m-tooltip--icon
            ></m-icon>
            <ng-container i18n="@@COMMON__WALLET">Wallet</ng-container>
          </m-tooltip>

          <span
            class="m-sidebarNavigationItem__text m-legible"
            i18n="@@COMMON__WALLET"
            >Wallet</span
          >
        </a>
      </li>

      <li
        *ngIf="user"
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
      >
        <a
          [href]="chatUrl"
          target="chat"
          (click)="toggle()"
          data-ref="sidenav-chat"
        >
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-chatIcon m-tooltip--icon></m-chatIcon>
            <ng-container i18n="@@COMMON__CHAT">Chat</ng-container>
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text m-legible">
            <ng-container i18n="@@COMMON__CHAT">Chat</ng-container>
            <m-icon
              iconId="open_in_new"
              class="m-sidebarNavigation__newWindowIcon"
            ></m-icon>
          </span>
        </a>
      </li>
      <ng-container *ngIf="user">
        <li
          class="m-sidebarNavigation__item m-sidebarNavigation__item--groups"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            [routerLink]="['/groups/memberships']"
            (click)="toggle()"
            data-ref="sidenav-groups"
          >
            <m-tooltip
              [enabled]="!showLabels"
              [anchor]="'left'"
              [useParentPosition]="true"
            >
              <m-icon iconId="group" [sizeFactor]="27" m-tooltip--icon></m-icon>
              <ng-container i18n="@@COMMON__GROUPS">Groups</ng-container>
            </m-tooltip>
            <span
              class="m-sidebarNavigationItem__text m-legible"
              i18n="@@COMMON__GROUPS"
              >Groups</span
            >
          </a>
        </li>
      </ng-container>
      <li
        *ngIf="user"
        class="m-sidebarNavigation__item m-sidebarNavigation__item--user"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
      >
        <a
          [routerLink]="['/' + user.username]"
          (click)="toggle()"
          data-ref="sidenav-channel"
        >
          <img
            [src]="cdnUrl + 'icon/' + user.guid + '/small/' + user.icontime"
            alt=""
          />
          <span class="m-sidebarNavigationItem__text m-legible">
            @{{ user.username }}
          </span>
        </a>
      </li>
      <!-- Click event is handled by popperjs inside trigger component -->
      <m-sidebarMore__trigger (toggle)="onSidebarMoreToggle($event)">
        <li
          class="m-sidebarNavigation__item"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a data-ref="sidenav-more">
            <m-tooltip
              [enabled]="!showLabels"
              [anchor]="'left'"
              [useParentPosition]="true"
            >
              <i class="material-icons m-icon--more" m-tooltip--anchor
                >more_horiz</i
              >
              <ng-container i18n="@@COMMON__MORE">More</ng-container>
            </m-tooltip>

            <span
              class="m-sidebarNavigationItem__text m-legible"
              i18n="@@COMMON__MORE"
              >More</span
            >
          </a>
        </li>
      </m-sidebarMore__trigger>
    </ul>
  </nav>
</div>

<div
  class="minds-bg-overlay m-sidebarNavigation__overlay"
  *ngIf="isOpened && layoutMode === 'phone'"
  (click)="toggle()"
></div>
