<m-dropdownMenu
  triggerClass="m-walletTokensDropdown__menuButton"
  menuClass="m-walletTokensDropdown__menu"
  [anchorPosition]="{ top: '0', left: '0' }"
  [menu]="menu"
>
  <m-icon iconId="more_vert"></m-icon>
</m-dropdownMenu>

<ng-template #menu>
  <ul>
    <m-dropdownMenu__item routerLink="/analytics/dashboard/token"
      ><span>Token analytics</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item (click)="onTransferTokensClick($event)"
      ><span>Transfer On-chain</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item (click)="onPurchaseTokensClick($event)"
      ><span>Purchase tokens</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="address$ | async"
      (click)="copyAddressToClipboard($event)"
      ><span>Copy address to clipboard</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="canDisconnect$ | async"
      (click)="onDisconnectClick($event)"
      ><span>Disconnect Wallet</span>
    </m-dropdownMenu__item>
  </ul>

  <span #addressEl class="m-walletTokensDropdown__copyToClipboardContent">{{
    address$ | async
  }}</span>
</ng-template>
