<div class="m-channelShopMemberships__supportTier">
  <div class="m-channelShopMembershipsSupportTier__title">
    <div class="m-channelShopMembershipsSupportTierTitle__text">
      {{ supportTier.name }}
    </div>
    <div *ngIf="isOwner" class="m-channelShopMembershipsSupportTierTitle__menu">
      <m-dropdownMenu
        [menu]="dropdown"
        [anchorPosition]="{ top: '100%', right: '0' }"
      >
        <m-icon iconId="more_vert"></m-icon>
      </m-dropdownMenu>

      <ng-template #dropdown>
        <ul>
          <m-dropdownMenu__item (click)="onDeleteIntent.emit(supportTier)"
            ><span i18n="@@SUPPORT_TIER_DELETE"
              >Delete Tier</span
            ></m-dropdownMenu__item
          >
        </ul>
      </ng-template>
    </div>
  </div>

  <div
    class="m-channelShopMembershipsSupportTier__amount"
    [ngSwitch]="displayFilteredCurrency"
  >
    <ng-container
      *ngSwitchCase="'tokens'"
      i18n="@@SUPPORT_TIER_TOKENS_PER_MONTH_AMOUNT"
    >
      <span
        >{supportTier.tokens, plural, =1 {{{supportTier.tokens | number}} token}
        other {{{supportTier.tokens | number}} tokens}}</span
      >
      per month
    </ng-container>

    <ng-container
      *ngSwitchCase="'usd'"
      i18n="@@SUPPORT_TIER_USD_PER_MONTH_AMOUNT"
    >
      <span>${{ supportTier.usd | number }}</span> per month
    </ng-container>

    <ng-container
      *ngSwitchCase="null"
      i18n="@@SUPPORT_TIER_TOKENS_AND_USD_PER_MONTH_AMOUNT"
    >
      <span
        >${{ supportTier.usd | number }} - {supportTier.tokens, plural, =1
        {{{supportTier.tokens | number}} token} other
        {{{supportTier.tokens | number}} tokens}}</span
      >
      per month
    </ng-container>
  </div>

  <div class="m-channelShopMembershipsSupportTier__stats">
    <div class="m-channelShopMembershipsSupportTierStats__entry">
      <m-icon iconId="lock"></m-icon>
      <span i18n="@@SUPPORT_TIER_POSTS_AMOUNT"
        >{supportTier.posts, plural, =1 {{{supportTier.posts | number}} post}
        other {{{supportTier.posts | number}} posts}}</span
      >
    </div>

    <div class="m-channelShopMembershipsSupportTierStats__entry">
      <m-icon iconId="people_outline"></m-icon>
      <span>{{ supportTier.supporters | number }}</span>
    </div>
  </div>

  <div class="m-channelShopMembershipsSupportTier__description">
    {{ supportTier.description }}
  </div>

  <div class="m-channelShopMembershipsSupportTier__actions">
    <m-button
      *ngIf="isOwner"
      class="m-cardButton-v2 edit"
      (onAction)="onEditIntent.emit(supportTier)"
      size="xsmall"
    >
      Edit
    </m-button>

    <m-button
      *ngIf="!isOwner && !supportTier.subscription_urn"
      class="m-cardButton-v2"
      (onAction)="onSelectIntent.emit(supportTier)"
      size="xsmall"
    >
      Join
    </m-button>

    <m-button
      *ngIf="!isOwner && supportTier.subscription_urn"
      class="m-cardButton-v2 cancel"
      size="xsmall"
    >
      <a routerLink="/settings/billing/recurring-payments">Cancel</a>
    </m-button>
  </div>
</div>
