m-pro--channel-login {
  display: flex;
  padding: 0 32px;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: $max-mobile) {
    justify-content: center;
  }
}

.m-proChannelLogin__hero {
  position: relative;
  width: 100%;

  .m-proChannelLoginHero__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 52px;
    margin: auto;
    max-width: 1280px;

    @media screen and (max-width: 1000px) {
      padding: 120px 16px;
      flex-wrap: wrap;
    }
    @media screen and (max-width: $max-mobile) {
      padding: 62px 0px;
    }

    .m-ProChannelLogin--app-buttons {
      display: flex;
      justify-content: flex-start;

      * {
        margin-left: 2px;
      }

      .m-ProChannelLogin--app-buttons__iosBanner {
        > a > img {
          height: 48px;

          @media screen and (max-width: 480px) {
            height: 32px;
          }
        }
      }

      @media screen and (max-width: 480px) {
        .m-androidAppDownloadButton {
          zoom: 0.65;
        }
      }
    }
  }

  .m-proChannelLogin__hero--video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    video {
      position: absolute;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .m-proChannelLogin__hero--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include m-theme() {
      background-color: rgba(themed($m-black), 0.4);
    }
  }

  .m-proChannelLoginHero__slogans {
    flex-grow: 1;
    z-index: 2;

    h1,
    h3,
    h4 {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      @include m-theme() {
        color: themed($m-white);
      }
    }

    h1 {
      font-size: 80px;
      font-weight: 600;
      letter-spacing: 1.25px;
      line-height: 1;

      @media screen and (max-width: 720px) {
        font-size: 42px;
      }
    }

    h2 {
      margin: 0;
      white-space: pre-wrap;
      font-size: 56px;
      letter-spacing: 1px;
      line-height: 1.16;

      @media screen and (max-width: 720px) {
        margin: 0 8px 32px;
        font-size: 36px;
      }
    }

    h3 {
      font-size: 26px;
      font-weight: 400;
      letter-spacing: 0.25px;
      line-height: 1.25;
      margin-top: 16px;
      padding-right: 70px;

      @media screen and (max-width: 720px) {
        padding-right: 8px;
        font-size: 16px;
      }
    }
  }

  .m-proChannelLogin__form {
    flex: 1;
    margin-left: 16px;
    z-index: 2;
    min-width: 480px;

    @media screen and (max-width: 1000px) {
      flex-basis: 100%;
      margin-left: 0;
      min-width: initial;
    }

    .m-proChannelLogin__subtext {
      display: block;
      margin: 0 8px;
      font-size: 20px;
      color: var(--m-pro--text-color) !important;

      & > a {
        color: var(--m-pro--text-color) !important;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    m-registerForm,
    m-loginForm {
      .mdl-card.m-login-box {
        background: transparent;
        padding: 0;
      }

      .mdl-card__title {
        //color: #FFF !important;
        display: none;
      }

      .m-login-box input:not([type='checkbox']) {
        border: 0;
        border-radius: 3px;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: 'Roboto', Helvetica, sans-serif;
        letter-spacing: 1px;
        //box-shadow: 0 0 6px rgba(255,255,255,0.22);
        @include m-theme() {
          background: rgba(themed($m-white), 0.9);
          color: themed($m-grey-800);
          border: 1px solid rgba(themed($m-white), 0.25);
        }

        &::placeholder {
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
      }

      .m-login-box .mdl-checkbox__box-outline {
        border-color: var(--m-pro--text-color);
      }

      .m-btn--action {
        margin-right: 16px;
        color: var(--m-pro--text-color) !important;
        border: 1px solid var(--m-pro--text-color);
      }

      .mdl-card__actions {
        flex-direction: row-reverse;
        padding-left: 8px;

        .m-register-tac {
          padding-right: 16px;
          font-family: 'Roboto', Helvetica, sans-serif;
          color: var(--m-pro--text-color) !important;
        }

        a {
          color: var(--m-pro--text-color) !important;
        }
      }

      .password-help {
        padding: 12px;
        border-radius: 4px;
        font-weight: 300;
        @include m-theme() {
          color: themed($m-white);
          background-color: themed($m-black);
        }
      }

      .m-register-btn {
        font-family: 'Roboto', Helvetica, sans-serif;
        letter-spacing: 1.25px;
        background: transparent;
        font-size: 12px;
        box-shadow: none !important;
        @include m-theme() {
          border: 1px solid themed($m-borderColor--primary);
        }
      }

      .mdl-card__actions:last-child {
        padding-bottom: 0;
      }
    }
  }

  @media (max-width: $max-mobile) {
    .m-ProChannelLogin--grid {
      .m-ProChannelLogin--titles {
        h1 {
          font-size: 32px;
          line-height: 32px;
          //font-weight: 200;
          //margin:16px;
          padding: 0;
          padding: 0 $minds-padding * 2;
        }

        h3 {
          font-size: 16px;
          //font-weight: 200;
          line-height: 16px;
          padding: 16px 16px 0;
        }
      }
    }
    .m-ProChannelLogin--titles {
      //display:none;
    }
    .m-app-links {
      //max-width:60%;
      margin: $minds-margin;

      a {
        flex: auto;
      }
    }
  }
}
