@import 'defaults';
@import '../../../common/layout/layout.scss';

:host {
  // *********************************
  // ** ACTIVITY V2 **
  // *********************************
  &.m-channelRecommendation--activityV2 {
    display: block;
    margin: 0;
    @include m-theme() {
      border-bottom: none;
    }

    article {
      padding: $spacing4;
      margin: 0;

      @include m-theme() {
        border-bottom: none;
      }

      @media screen and (max-width: $layoutMin3ColWidth) {
        margin: 0;
      }

      @media screen and (max-width: $max-mobile) {
        padding: $spacing7 $activitySpacingRight--feed--mobile $spacing3
          $activityAvatarSpacingLeft--feed--mobile;
        margin: 0;
      }

      ul {
        li section {
          .m-channelRecommendation__avatarContainer {
            margin-right: $activityAvatarSpacingRight--feed;

            @media screen and (max-width: $max-mobile) {
              margin-right: $activityAvatarSpacingRight--feed--mobile;
            }

            ::ng-deep minds-avatar {
              .minds-avatar {
                border-radius: 50%;
                height: $activityAvatarWidth;
                width: $activityAvatarWidth;
                background-size: cover;
                margin: 0;

                @include m-theme() {
                  border: 1px solid themed($m-borderColor--primary);
                }
              }
            }
          }
        }
      }
    }
  }
  // *********************************
  // ** DEFAULT **
  // *********************************
  display: flex;

  article {
    width: 100%;
    box-sizing: border-box;
    padding: $minds-padding * 4;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: $spacing4;

      h3 {
        flex: 1;
        font-size: 1.25rem;
        margin: 0;
        font-weight: bold;
        line-height: 2.5rem;
      }

      div {
        flex-direction: row;
        display: flex;

        a {
          text-decoration: none;
          line-height: 2.5rem;

          @include m-theme() {
            color: themed($m-link);
          }

          &:hover {
            text-decoration: underline;
          }
        }

        m-dropdownMenu {
          margin-left: $spacing4;
        }

        ::ng-deep m-dropdownMenu m-icon i {
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li section {
        display: flex;
        flex-direction: row;
        padding-bottom: $minds-margin * 2;

        .m-channelRecommendation__avatarContainer {
          margin-right: $minds-margin * 2;
          ::ng-deep minds-avatar {
            .minds-avatar {
              border-radius: 50%;
              height: 35px;
              width: 35px;
              background-size: cover;
              margin: 0;
            }
          }
        }
        .m-channelRecommendation__contentContainer {
          flex: 1;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: flex-start;
          overflow: hidden;

          .m-channelRecommendation__title {
            display: block;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            margin: 0;

            @include m-theme() {
              color: themed($m-textColor--primary);
            }

            strong {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            > * {
              display: inline-block;
              vertical-align: middle;
              max-width: 100%;
              text-overflow: ellipsis;
            }

            &:hover {
              @include m-theme() {
                color: themed($m-textColor--primary);
              }
            }
          }

          .m-channelRecommendation__description {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            @supports (-webkit-line-clamp: 2) {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: initial;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            @include m-theme() {
              color: themed($m-textColor--secondary);
            }
          }
        }
        .m-channelRecommendation__subscribeContainer {
          margin-left: $minds-margin;
        }
      }
    }
  }
}
