<m-photoBannerModal title="Buy Tokens">
  <div class="m-modalV2__body m-buyTokens__body">
    <div class="m-buyTokensBody__paymentMethod">
      <span class="m-buyTokensBodyPaymentMethod__text">Payment Method</span>
    </div>
    <div class="m-buyTokensBody__buttons">
      <button
        class="m-buyTokensButtons__button"
        [ngClass]="{
          'm-buyTokensBody__button--selected':
            ['card', 'bank'].indexOf(paymentMethod) > -1
        }"
        (click)="choosePaymentMethod('card')"
      >
        Card / Bank
      </button>
      <button
        class="m-buyTokensButtons__button"
        [ngClass]="{
          'm-buyTokensBody__button--selected': paymentMethod === 'crypto'
        }"
        (click)="choosePaymentMethod('crypto')"
      >
        Crypto
      </button>
    </div>
    <div
      *ngIf="paymentMethod === 'crypto'"
      class="m-buyTokensBody__uniswapWarning"
      i18n="@@M__UNISWAP_WARNING"
    >
      <i class="material-icons">info</i>
      <span> Please check your wallet for transaction updates </span>
    </div>

    <div
      class="m-buyTokensBody__uniswapWarning"
      *ngIf="paymentMethod === 'card'"
    >
      <i class="material-icons">info</i>
      <span
        >Customers in the US can only purchase ETH with USD, and then use ETH to
        swap for Minds Tokens via Uniswap.</span
      >
    </div>

    <div class="m-buyTokensBody__termsCheck">
      <input id="terms-check" type="checkbox" [(ngModel)]="terms" />
      <label
        class="m-buyTokensBodyTermsCheck__label"
        for="terms-check"
        i18n="@@M__PURCHASE_TERMS"
      >
        I have read and accept the
        <a
          href="https://cdn-assets.minds.com/front/dist/assets/documents/TermsOfSale-v0.1.pdf"
          target="_blank"
          >Terms Of Sale</a
        >
        for the Minds Token
      </label>
    </div>

    <div class="m-buyTokensBody__footer">
      <a class="m-buyTokensFooter__learnMoreText" href="/tokens">
        Learn more about tokens
      </a>
      <m-button
        [disabled]="!canContinue()"
        (onAction)="openPaymentModal()"
        i18n="@@M__CONTINUE_BUTTON"
      >
        Continue
      </m-button>
    </div>
  </div>
</m-photoBannerModal>
<!--
  Non-templated component that applies CSS overrides
  globally for the Transak modal.
-->
<m-transak__globalStyle></m-transak__globalStyle>
