<div class="m-defaultFeed__feed">
  <m-feedNotice__outlet location="top"></m-feedNotice__outlet>
  <ng-container
    *ngFor="let activity$ of feedsService.feed | async; let i = index"
  >
    <m-feedNotice__outlet
      *ngIf="i > 0 && i % 6 === 0"
      location="inline"
    ></m-feedNotice__outlet>
    <m-featured-content
      *ngIf="shouldShowBoostInPosition(i)"
      [slot]="i + 1"
      [displayOptions]="{
        showOnlyCommentsInput: true,
        isFeed: true
      }"
    ></m-featured-content>
    <m-activity
      [entity]="activity$ | async"
      [displayOptions]="{
        showComments: true,
        isFeed: true
      }"
      class="m-defaultFeed__activity"
    ></m-activity>
    <m-channelRecommendation
      [location]="location"
      [dismissible]="true"
      *ngIf="
        shouldShowChannelRecommendation(i) &&
        !(isChannelRecommendationDismissed$ | async)
      "
    ></m-channelRecommendation>
  </ng-container>

  <infinite-scroll
    (load)="loadNext()"
    [moreData]="feedsService.hasMore | async"
    [inProgress]="feedsService.inProgress | async"
  ></infinite-scroll>
</div>
