<div class="m-dateDropdowns__selectWrapper">
  <select
    class="m-dateDropdowns__select"
    data-minds="yearDropdown"
    [ngModel]="selectedYear"
    (ngModelChange)="selectYear($event)"
    [disabled]="disabled"
  >
    <option selected value="">Year</option>
    <option *ngFor="let year of years">{{ year }}</option>
  </select>
</div>
<div class="m-dateDropdowns__selectWrapper">
  <select
    class="m-dateDropdowns__select"
    data-minds="monthDropdown"
    [ngModel]="selectedMonth"
    (ngModelChange)="selectMonth($event)"
    [disabled]="disabled"
  >
    <option selected value="">Month</option>
    <option *ngFor="let month of monthNames">{{ month }}</option>
  </select>
</div>
<div class="m-dateDropdowns__selectWrapper">
  <select
    class="m-dateDropdowns__select"
    data-minds="dayDropdown"
    [ngModel]="selectedDay"
    (ngModelChange)="selectDay($event)"
    [disabled]="disabled"
  >
    <option selected value="">Day</option>
    <option *ngFor="let day of days">{{ day }}</option>
  </select>
</div>
