@import 'defaults.scss';

:host {
  .m-earnModal__body {
    max-height: none !important;
    overflow-y: auto !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 0;

    > div {
      padding: 40px 60px;
    }

    @media screen and (max-width: 991px) {
      > div {
        padding: 25px;
      }
    }

    @media screen and (max-width: $max-mobile) {
      grid-template-columns: repeat(1, 1fr);

      > div {
        padding: 40px 40px;
      }
    }
  }

  ::ng-deep m-photoBannerModal .m-photoBannerModal__header {
    padding: 0 60px;

    @media screen and (max-width: $max-mobile) {
      padding: 0 40px;
    }
  }

  .m-earnModal__left {
    max-width: 320px;

    @media screen and (max-width: $max-mobile) {
      width: unset;
    }

    @include m-theme() {
      border-right: 1px solid themed($m-borderColor--primary);
    }
    h2 {
      font-size: 21px;
      line-height: 28px;
      font-weight: 700;
      margin: 0;

      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      padding: 10px 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      > * {
        vertical-align: middle;
      }
      > m-icon {
        margin-right: 10px;
      }
      > span {
        flex: 1;
      }
    }
  }

  .m-earnModal__right {
    h2 {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      font-size: 19px;
      line-height: 25px;
      font-weight: 700;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0;
    }
    li {
      font-size: 15px;
      font-weight: 500;
      line-height: 30px;
      a {
        text-decoration: none;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }
  }
}
