<m-photoBannerModal title="Earn Tokens with Minds">
  <div class="m-modalV2__body m-earnModal__body">
    <div class="m-earnModal__left">
      <h2>Increase your token earnings</h2>
      <ul>
        <li (click)="openAddLiquidity()">
          <m-icon iconId="add_circle_outline"></m-icon>
          <span>Add liquidity</span>
          <ng-container *ngTemplateOutlet="icon"></ng-container>
        </li>
        <li (click)="openTransfer()">
          <m-icon iconId="swap_horiz"></m-icon>
          <span>Transfer on-chain</span>
          <ng-container *ngTemplateOutlet="icon"></ng-container>
        </li>
        <li (click)="openCompose()">
          <m-icon iconId="add_box"></m-icon>
          <span>Create content</span>
          <ng-container *ngTemplateOutlet="icon"></ng-container>
        </li>
        <li routerLink="settings/other/referrals">
          <m-icon iconId="group"></m-icon>
          <span>Refer</span>
          <ng-container *ngTemplateOutlet="icon"></ng-container>
        </li>
      </ul>
    </div>

    <div class="m-earnModal__right">
      <h2>Resources</h2>
      <ul>
        <li><a routerLink="/rewards">How rewards are calculated</a></li>
        <li><a routerLink="/tokens">How to use tokens</a></li>
        <li><a routerLink="/wallet/tokens/rewards">Track your rewards</a></li>
        <li>
          <a routerLink="/analytics/dashboard/token/supply"
            >View token analytics</a
          >
        </li>
      </ul>

      <br />

      <h2>Unlock revenue-sharing</h2>
      <ul>
        <li><a routerLink="/plus">Upgrade to Minds+</a></li>
        <li><a routerLink="/pro">Upgrade to Minds Pro</a></li>
      </ul>
    </div>
  </div>
</m-photoBannerModal>

<ng-template #icon>
  <i class="m-earnModalBlock__icon material-icons">chevron_right</i>
</ng-template>
