@import 'defaults.scss';

:host {
  // *********************************
  // ** FEED **
  // *********************************
  .m-activity--isFeed & {
    padding-left: $spacing1;
  }

  // *********************************
  // ** SIDEBAR **
  // *********************************
  m-sidebarwidget & {
    display: none;
  }

  // *********************************
  // *********************************
  // *********************************
  // ** DEFAULT **
  // *********************************
  // *********************************
  // *********************************
  .m-activity__views {
    display: inline-block;
    @include body3Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-activityViews__dot {
    padding: 0 $spacing1;
  }
}
