<ng-container [m-clientMeta]="{ medium: 'boost-rotator' }">
  <div
    *ngIf="!disabled"
    #rotatorEl
    class="m-newsfeed__boostRotator"
    [style.min-height]="height"
    [style.max-height]="activityV2Feature ? height : 'none'"
    [hidden]="!activityV2Feature && !boosts.length"
  >
    <!-- ACTIVITY V2 BOOST ROTATOR TOP ROW  -->
    <div *ngIf="activityV2Feature && init" class="m-boostRotator__toolbar">
      <m-activityV2__flag--boosted></m-activityV2__flag--boosted>
      <div class="m-boostRotatorToolbar__buttons">
        <i class="material-icons" (click)="prev()">chevron_left</i>
        <i class="material-icons" (click)="next()">chevron_right</i>
      </div>
    </div>
    <!-- ----------------------------------- -->
    <div
      *ngIf="boosts.length > 0 && !activityV2Feature"
      class="m-carousel__overflowScrollButton--left"
      (click)="prev()"
    >
      <i class="material-icons">chevron_left</i>
    </div>

    <ng-container *ngFor="let entity of boosts; let i = index">
      <div
        [hidden]="activityV2Feature && !boosts.length"
        class="m-newsfeedBoostRotator__item"
        *ngIf="shouldRender(i)"
        @fastFade
        [style.visibility]="i === currentPosition ? 'visible' : 'hidden'"
        [style.height.px]="height"
      >
        <m-activity
          [entity]="entity"
          [displayOptions]="{
            boostRotatorMode: true,
            showOnlyCommentsInput: false,
            showComments: false,
            fixedHeight: true,
            fixedHeightContainer: true,
            isFeed: true
          }"
          [attr.data-minds-activity-guid]="entity.guid"
          [slot]="i + 1"
          [canRecordAnalytics]="false"
          (nextBoost)="next()"
          (previousBoost)="prev()"
        >
        </m-activity>
      </div>
    </ng-container>
    <div
      *ngIf="boosts.length > 0 && !activityV2Feature"
      class="m-carousel__overflowScrollButton--right"
      (click)="next()"
    >
      <i class="material-icons">chevron_right</i>
    </div>
  </div>
</ng-container>
