<ng-container *ngIf="(entity$ | async) && !minimalMode">
  <!------------------------->
  <!-- BOOST  ---------------->
  <!------------------------->
  <div
    class="m-activityFlag--boost m-legible"
    *ngIf="(entity$ | async).boosted"
  >
    <m-activityV2__flag--boosted></m-activityV2__flag--boosted>
  </div>

  <!------------------------->
  <!-- REMIND  -------------->
  <!------------------------->
  <ng-container *ngIf="entity$ | async as entity">
    <div
      class="m-activityFlag--remind m-legible"
      *ngIf="entity.remind_users && entity.remind_users.length"
    >
      <i class="material-icons">repeat</i>
      <span>Reminded by </span>
      <ng-container *ngFor="let reminder of entity.remind_users; let i = index">
        <a [routerLink]="['/', reminder.username]" [title]="reminder.name">
          {{ reminder.name }}
        </a>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
