<ng-container *ngIf="service.entity$ | async as entity$">
  <!-- AVATAR COLUMN -->
  <!-- Avatar displayed in its own column if not displayed in sidebar -->
  <div
    *ngIf="
      !service.displayOptions.minimalMode &&
      !service.displayOptions.isSidebarBoost
    "
    class="m-activityTop__avatarColumn m-activity__avatar"
  >
    <m-hovercard [publisher]="quotedEntity.ownerObj" [offset]="[0, 15]">
      <a [routerLink]="['/', quotedEntity.ownerObj.username]">
        <img [src]="avatarUrl" />
      </a>
    </m-hovercard>
  </div>
  <!-- MAIN COLUMN -->
  <div class="m-activityTop__mainColumn">
    <m-activityV2__ownerBlock [wasQuoted]="true"></m-activityV2__ownerBlock>
    <m-activityV2__content
      *ngIf="service.shouldShowContent$ | async"
      [autoplayVideo]="autoplayVideo"
      [wasQuoted]="true"
      [showPaywall]="service.shouldShowPaywall$ | async"
      [showPaywallBadge]="service.shouldShowPaywallBadge$ | async"
    ></m-activityV2__content>
  </div>
</ng-container>
