@import 'defaults.scss';

:host {
  // *********************************
  // ** MODAL **
  // *********************************
  m-activityV2__modal & {
    ::ng-deep m-dropdownMenu {
      z-index: 5;
    }
    .m-postMenu__button {
      padding-right: 0;
      margin-right: -5px;
    }
  }

  // *********************************
  // *********************************
  // *********************************
  // ** DEFAULT **
  // *********************************
  // *********************************
  // *********************************

  position: relative;

  ::ng-deep .m-postMenu__button {
    padding-right: 0;
  }
}
