@import 'defaults.scss';

:host {
  ::ng-deep .m-tooltip--bubble {
    width: 400px;
    right: -5px;
    @include z-index(announcement);
  }

  .m-feedTypePopper {
    .m-feedTypePopper__iconLink {
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        @include m-theme() {
          color: themed($m-textColor--secondary) !important;
        }
      }
    }

    .m-feedTypePopper__iconLink--active {
      @include m-theme() {
        color: themed($m-link) !important;
      }

      &:hover {
        @include m-theme() {
          color: themed($m-link--hover) !important;
        }
      }
    }
  }

  ::ng-deep popper-content {
    .ngxp__container {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      min-width: 300px;
      padding: 0;

      @include z-index(tooltip);

      @include m-theme() {
        color: themed($m-textColor--primary);
        background: themed($m-bgColor--primary);
        border: 1px solid themed($m-borderColor--primary);
      }
    }

    .ngxp__arrow,
    .ngxp__arrow:before {
      height: 25px !important;
      width: 25px !important;
    }

    .ngxp__arrow:before {
      @include m-theme() {
        background: themed($m-bgColor--primary);
        border: 1px solid themed($m-borderColor--primary);
      }
    }

    .ngxp__inner {
      border-radius: $m-borderRadius;
      overflow: hidden;
      @include m-theme() {
        background: themed($m-bgColor--primary);
      }
    }

    .m-feedTypePopper__container {
      .m-feedTypePopper__item {
        padding: $minds-padding * 2;
        cursor: pointer;
        transition: background-color 0.2s;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;

        &:hover {
          @include m-theme() {
            background-color: themed($m-bgColor--primaryAlt);
          }
        }

        .m-feedTypePopper__title {
          @include m-theme() {
            color: themed($m-textColor--primary);
          }
          font-size: 16px;
          margin-bottom: 0;
          font-weight: bold;
        }

        .m-feedTypePopper__desc {
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }

        .m-feedTypePopper__icon {
          top: -5px;
          position: relative;
          padding-left: $minds-padding * 2;
          transition: opacity 0.3s;
        }
      }
    }
  }
}
