@import 'defaults.scss';

:host {
  .m-mindsList__tools {
    padding: $spacing3;
    border-radius: 0;
    margin-bottom: 0;
    @include m-theme() {
      border: none;
    }

    ::ng-deep m-tooltip {
      i {
        font-size: 18px;
        margin-left: $spacing2;
      }
    }
  }
  .m-mindsListTools__scheduled {
    display: flex;
    align-items: center;

    span {
      font-size: 15px;
      display: inline-block;
      margin-left: 8px;
    }
  }

  .m-groupSorted__searchDisplay {
    padding: 5px 0 20px 0;

    span {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
      &.m-groupSortedSearch__query {
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
    a {
      cursor: pointer;
      font-weight: 400;
      text-decoration: underline;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }
}
