<div *ngIf="!hideTabs" class="m-tabs__container">
  <div class="m-tabs__tab">
    <a
      routerLink="../user"
      routerLinkActive="m-tabs__tab--selected"
      i18n="@@DISCOVERY_SUGGESTIONS__CHANNELS"
      >Channels</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      routerLink="../group"
      routerLinkActive="m-tabs__tab--selected"
      i18n="@@DISCOVERY_SUGGESTIONS__GROUPS"
      >Groups</a
    >
  </div>
</div>

<div class="m-goBack">
  <a
    href="#"
    (click)="$event.preventDefault(); $event.stopPropagation(); location.back()"
  >
    <i class="material-icons">arrow_back</i
    ><span i18n="@@DISCOVERY_SUGGESTIONS__BACK">Back</span>
  </a>
</div>

<div class="m-discoveryFeeds__feed">
  <m-discovery__feedItem
    *ngFor="let entity of entities$ | async"
    [entity]="entity"
    [openComments]="false"
  ></m-discovery__feedItem>

  <infinite-scroll
    (load)="loadMore()"
    [moreData]="hasMoreData$ | async"
    [inProgress]="inProgress$ | async"
  >
  </infinite-scroll>
</div>
