<m-modal
  [open]="open"
  (closed)="onClose($event)"
  *ngIf="!session.isLoggedIn() || display != 'initial'"
  (click)="$event.stopPropagation()"
>
  <div
    class="mdl-card__title"
    [hidden]="display == 'onboarding' || display == 'categories'"
  >
    <img [src]="logo" (click)="close()" />
  </div>

  <!-- Initial Display -->
  <div *ngIf="display == 'initial'">
    <div class="m-signup-modal-feature-text mdl-card__supporting-text">
      <ng-container *ngIf="description; else defaultDescription">
        {{description}}
      </ng-container>
      <ng-template #defaultDescription>
        <ng-container i18n="@@MODALS__SIGNUP__WE_ARE_OPEN_SOURCE_GET_PAID">
          We are an open source platform for Internet freedom. Get paid in
          crypto for your contributions to the community.
        </ng-container>
      </ng-template>
    </div>

    <div class="mdl-card__supporting-text m-signup-buttons">
      <m-button (onAction)="do('login')" size="small" color="blue">
        Login
      </m-button>
      <m-button (onAction)="do('register')" size="small" color="blue">
        Register
      </m-button>
    </div>

    <div class="mdl-card__supporting-text m-modal-signup-apps">
      <a
        href="https://geo.itunes.apple.com/us/app/minds-com/id961771928?mt=8&amp;uo=6"
      >
        <img
          src="https://devimages-cdn.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg"
        />
      </a>
      <m-androidAppDownloadButton
        (click)="close()"
      ></m-androidAppDownloadButton>
    </div>

    <div class="mdl-card__supporting-text">
      <span
        class="m-modal-signup-skip"
        (click)="close()"
        i18n="@@MODALS__SIGNUP__MAYBE_LATER"
        >Maybe later</span
      >
    </div>
  </div>
  <!-- Login Display -->
  <m-loginForm
    (done)="done('login')"
    (doneRegistered)="display = 'fb-complete'"
    (canceled)="close()"
    *ngIf="display == 'login'"
  ></m-loginForm>
  <!-- Register Display -->
  <span
    style="font-weight: bold;text-align:center;font-size: 13px;margin-bottom: -14px;cursor: pointer;"
    class="mdl-color-text--blue-grey"
    *ngIf="display == 'register'"
    (click)="do('login')"
    i18n="@@MODALS__SIGNUP__ALREADY_HAVE_CHANNEL"
    >Already have a channel? Click here.</span
  >
  <m-registerForm
    (done)="done('register')"
    (canceled)="close()"
    *ngIf="display == 'register'"
    parentId="/modal"
  ></m-registerForm>
  <!-- FB Signin final phase -->
  <minds-form-fb-register
    (done)="done('register')"
    (canceled)="close()"
    *ngIf="display == 'fb-complete'"
  ></minds-form-fb-register>
</m-modal>
