<div
  class="
    mdl-card
    mdl-color--red-500
    mdl-color-text--blue-grey-50
    m-error-box
    mdl-shadow--2dp
    minds-login-box
    m-error-box
  "
  style="min-height: 0"
  [hidden]="showInlineErrors || !errorMessage"
>
  <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
    <ng-container *ngTemplateOutlet="errorTemplate"></ng-container>
  </div>
</div>

<ng-template #errorTemplate>
  <ng-container [ngSwitch]="errorMessage">
    <ng-template
      ngSwitchCase="LoginException::AttemptsExceeded"
      i18n="@@MINDS__LOGIN__EXCEPTION__ATTEMPTS_EXCEEDED"
    >
      You have exceeded your login attempts. Please try again in a few minutes.
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException::DisabledUser"
      i18n="@@MINDS__LOGIN__EXCEPTION__DISABLED_USER"
    >
      This account has been disabled
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException::AuthenticationFailed"
      i18n="@@MINDS__LOGIN__EXCEPTION__INCORRECT_USERNAME_PASSWORD"
    >
      Incorrect username/password. Please try again.
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException::AccountLocked"
      i18n="@@MINDS__LOGIN__EXCEPTION__ACCOUNT_LOCKED"
    >
      Account locked
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException:BannedUser"
      i18n="@@MINDS__LOGIN__EXCEPTION__BANNED_USER"
    >
      You are not allowed to login.
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException::CodeVerificationFailed"
      i18n="@@MINDS__LOGIN__EXCEPTION__CODE_VERIFICATION_FAILED"
    >
      Sorry, we couldn't verify your two factor code. Please try logging again.
    </ng-template>
    <ng-template
      ngSwitchCase="LoginException::InvalidToken"
      i18n="@@MINDS__LOGIN__EXCEPTION__INVALID_TOKEN"
    >
      Invalid token
    </ng-template>

    <ng-template
      ngSwitchCase="Minds::Core::Security::RateLimits::RateLimitExceededException"
      i18n="@@MINDS__RATE__LIMITS__EXCEEDED"
    >
      You have exceed the rate limit. Please try again later.
    </ng-template>

    <ng-template
      ngSwitchDefault
      i18n="@@MINDS__LOGIN__EXCEPTION__SORRY_THERE_WAS_AN_ERROR_PLEASE_TRY_AGAIN"
    >
      Sorry, there was an error. Please try again.
    </ng-template>
  </ng-container>
</ng-template>

<div class="m-login__title">
  <h3 *ngIf="showTitle">Login to Minds</h3>

  <a
    *ngIf="showTitle"
    [routerLink]="['/forgot-password']"
    data-cy="data-minds-forgot-password-button"
  >
    Forgot your Password?
  </a>
</div>

<!-- START: LOGIN -->
<form
  (submit)="$event.preventDefault()"
  [formGroup]="form"
  class="m-form m-login-box m-formWrapper"
  [class.m-loginBox__bigButton]="showBigButton"
  [hidden]="hideLogin"
>
  <div class="m-layout__grid">
    <div class="m-form__field--text stretchedField">
      <div class="m-form__input--details">
        <div class="m-form__row--label">
          <label for="username" *ngIf="showLabels" i18n="@@COMMON__USERNAME">
            Username
          </label>
        </div>
        <div class="m-login__error" *ngIf="!!usernameError">
          <ng-container
            *ngIf="usernameError == 'LoginException::EmailAddress'"
            i18n="@@MINDS__LOGIN__EXCEPTION__ENTERED_EMAIL_ADDRESS_NOT_USERNAME"
          >
            Enter username, not email
          </ng-container>
          <ng-container
            *ngIf="usernameError == 'LoginException::UsernameRequired'"
            i18n="@@MINDS__LOGIN__EXCEPTION__USERNAME_REQUIRED"
          >
            Username is required.
          </ng-container>
        </div>
      </div>
      <div class="m-form__row--input">
        <input
          type="text"
          id="username"
          formControlName="username"
          [placeholder]="showLabels ? '' : 'Username'"
          i18n-placeholder="@@M__COMMON__USERNAME"
          autocomplete="username"
          (keydown.enter)="login(); $event.preventDefault();"
          data-cy="data-minds-login-username-input"
        />
      </div>
    </div>

    <div class="m-form__field--text stretchedField">
      <div class="m-form__row--label">
        <label for="password" *ngIf="showLabels" i18n="@@COMMON__PASSWORD">
          Password
        </label>
      </div>
      <div class="m-form__row--input">
        <input
          type="password"
          id="password"
          formControlName="password"
          [placeholder]="showLabels ? '' : 'Password'"
          i18n-placeholder="@@M__COMMON__PASSWORD"
          autocomplete="current-password"
          (keydown.enter)="login(); $event.preventDefault();"
          data-cy="data-minds-login-password-input"
        />
      </div>
    </div>
  </div>

  <a
    class="m-login__joinTheConversation"
    *ngIf="showTitle"
    (click)="onJoinNowClick()"
    i18n="@@LOGIN__JOIN_MINDS_NOW"
  >
    Join Minds Now
  </a>

  <div class="m-layout__row m-login__actions">
    <div>
      <a
        class="m-reset-password-link"
        [routerLink]="['/forgot-password']"
        (click)="onForgotPasswordClick()"
        *ngIf="!showTitle"
        data-cy="data-minds-forgot-password-button"
      >
        <ng-container i18n="@@FORMS__LOGIN__FORGOT_PASSWORD_LINK">
          Forgot Password?
        </ng-container>
      </a>
      <div
        class="m-login__formError"
        *ngIf="showInlineErrors && showBigButton && errorMessage"
      >
        <ng-container *ngTemplateOutlet="errorTemplate"></ng-container>
      </div>
    </div>

    <ng-container *ngIf='source !== "auth-modal"'>
      <div class="m-login__spacer" *ngIf="showBigButton"></div>

      <m-button
        class="m-login__button--login"
        color="blue"
        (onAction)="login()"
        [saving]="inProgress"
        *ngIf="!showBigButton"
        data-cy="data-minds-login-button"
      >
        <ng-container i18n="@@M__ACTION__LOGIN">Login</ng-container>
      </m-button>
      <m-button
        class="m-login__button--login"
        *ngIf="showBigButton"
        type="button"
        [saving]="inProgress"
        (onAction)="login()"
        color="blue"
        data-cy="data-minds-login-button"
      >
        <ng-container i18n="@@M__ACTION__LOGIN">Login</ng-container>
      </m-button>
    </ng-container>
  </div>
</form>

<ng-container *ngIf='this.source == "auth-modal"'>
  <div class="m-login__divider">
    <span></span>
  </div>
  <div class="m-login__footer">
    <span class="m-register__alreadyAUser">
      Don't have an account?
      <a
        class="m-login__joinTheConversation"
        (click)="onShowRegisterFormClick()"
        i18n="@@LOGIN__JOIN_MINDS_NOW"
      >
        Join Minds Now
      </a>
    </span>
    <div class="m-layout__spacer"></div>
    <m-button
      class="m-login__button--login"
      type="button"
      [saving]="inProgress"
      (onAction)="login()"
      color="blue"
      [solid]="true"
      data-cy="data-minds-login-button"
    >
      <ng-container i18n="@@M__ACTION__LOGIN">Login</ng-container>
    </m-button>
  </div>
</ng-container>

<!-- END: LOGIN -->

<!-- START: TWOFACTOR -->
<m-multiFactorAuth *ngIf="!hideMFA" [embedded]="true"></m-multiFactorAuth>
