@import 'defaults.scss';

:host {
  .m-form__row--label {
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-form__input--details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .m-login__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 16px;

    a {
      @include m-theme() {
        color: themed($m-blue);
      }
    }

    @media screen and(max-width: 680px) {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0;
      margin-bottom: 24px;

      h3 {
        margin-bottom: 0;
      }
    }
  }

  .m-login__error,
  .m-login__formError {
    font-size: 14px;
    line-height: 19px;
    margin-top: 3px;

    @include m-theme() {
      color: themed($m-red) !important;
    }
  }

  .m-login__error {
    text-align: right;
  }

  .m-login__spacer {
    flex-grow: 1;
  }
  a {
    font-weight: 400;
  }

  .m-login__divider {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;

    span:not(.m-login__divider__text) {
      flex: 1;
      margin: 0 -40px;
      @include m-theme() {
        border-bottom: 2px solid themed($m-borderColor--primary);
      }
    }
    .m-login__divider__text {
      padding: 0 20px;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .m-login__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 8px 0;

    .m-register__alreadyAUser {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      .m-login__joinTheConversation {
        @include m-theme() {
          color: themed($m-link);
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: $max-mobile) {
    .m-login__divider {
      display: none;
    }

    .m-login__footer {
      flex-flow: column-reverse nowrap;
    }

    .m-register__alreadyAUser {
      margin-top: 16px;
    }

    ::ng-deep {
      m-button,
      button {
        width: 100%;
      }
    }
  }

  .m-login-2fa {
    padding: 0;

    .m-login-2fa__title {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-size: 18pt;
      margin: 8px 0 16px 0;
    }

    .m-login-2fa__subtitle {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;

      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }
    }

    .m-login-mfa-input {
      padding: 20px 0;

      input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        padding: 16px;
        outline: none !important;

        @include m-theme() {
          border: 1px solid themed($m-borderColor--primary);
        }

        &:focus {
          @include m-theme() {
            border: 1px solid themed($m-blue);
          }
        }
      }
    }
  }
  .m-reset-password-link {
    cursor: pointer;
    text-decoration: underline;
  }
}

// .m-login-box {
//   margin-top: $minds-margin * 2;
//   width: 100% !important;

//   &:last-child {
//     margin-bottom: 0;
//   }

//   h3 {
//     margin: 0;
//     font-size: 24px;
//     line-height: 26px;
//   }
// }
