.m-composer__previewWrapper {
  position: relative;
  width: 100%;
  height: 330px;

  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }

  .m-composerPreview__image,
  .m-composerPreview__video {
    width: 100%;
    object-fit: contain;
    pointer-events: none;
    @media screen and (min-width: $max-mobile) {
      height: 100%;
    }
  }

  .m-composerPreview__close {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1;
    padding: 1px 0 0 1px;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;

    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      color: themed($m-textColor--secondary);
      border-color: themed($m-borderColor--primary);
    }
  }

  .m-videoPlayer__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    i {
      cursor: not-allowed;
    }
  }
  @media screen and (max-width: $max-mobile) {
    m-composerPreview--attachment {
      height: auto;
      & > img,
      & > video {
        height: auto;
        max-height: 330px;
      }

      .m-videoPlayer__placeholder {
        height: 100%;
        max-height: 330px;
        i {
          opacity: 0.5;
        }
      }
    }
  }
}
