<div
  *ngIf="(attachmentPreview$ | async) || (richEmbedPreview$ | async)"
  class="m-composer__previewWrapper"
>
  <!-- MEDIA ATTACHMENT (IMAGE/VIDEO) ------------>
  <m-composerPreview--attachment
    *ngIf="attachmentPreview$ | async as attachmentPreview"
    [attachmentPreviewResource]="attachmentPreview"
    (onPortraitOrientation)="setPortrait($event)"
  >
    <div
      class="m-composerPreview__close"
      [hidden]="(isPosting$ | async) || (isEditing$ | async)"
      (click)="removeAttachment()"
    >
      <m-icon iconId="close"></m-icon>
    </div>

    <m-composer__coverPhotoSelector
      *ngIf="attachmentPreview.sourceType === 'video'"
    ></m-composer__coverPhotoSelector>
  </m-composerPreview--attachment>

  <!-- RICH EMBED -------------------------------->
  <m-composerPreview--richEmbed
    [hidden]="attachmentPreview$ | async"
    *ngIf="richEmbedPreview$ | async as richEmbed"
    [richEmbed]="richEmbed"
  >
    <div
      class="m-composerPreview__close"
      [hidden]="isPosting$ | async"
      (click)="removeRichEmbed()"
    >
      <m-icon iconId="close"></m-icon>
    </div>
  </m-composerPreview--richEmbed>
</div>
