<div
  class="m-composer__toolbar"
  [class.m-composer__toolbar--narrow]="narrow"
  [class.m-composer__toolbar--small]="isCompactMode$ | async"
  #toolbarWrapper
>
  <m-emojiPicker
    *ngIf="!isMobile()"
    (emojiSelect)="onEmoji($event)"
  ></m-emojiPicker>

  <m-file-upload
    [wrapperClass]="[
      'm-composerToolbar__item',
      (attachment$ | async) ? 'm-composerToolbar__item--active' : ''
    ]"
    [hidden]="!canEditMetadata"
    [disabled]="
      !!(attachment$ | async) || (isPosting$ | async) || (isEditing$ | async)
    "
    [class.m-composerToolbar__item--small]="isCompactMode$ | async"
    (onSelect)="onAttachmentSelect($event)"
    accept="image/*,video/*,video/mp4,video/x-m4v"
    data-cy="upload-button"
    *ngIf="!(remind$ | async)"
    #fileUploadComponent
  >
    <m-icon
      class="m-composerToolbarItem__icon"
      from="md"
      iconId="cloud_upload"
    ></m-icon>
    <span class="m-composerToolbarItem__label" i18n="@@COMMON__UPLOAD"
      >Upload</span
    >
  </m-file-upload>

  <a
    class="m-composerToolbar__item"
    [class.m-composerToolbar__item--active]="(nsfw$ | async)?.length"
    [class.m-composerToolbar__item--disabled]="isPosting$ | async"
    [class.m-composerToolbar__item--small]="isCompactMode$ | async"
    (click)="onNsfwClick($event)"
    data-cy="nsfw-button"
  >
    <m-icon class="m-composerToolbarItem__icon" iconId="explicit"></m-icon>
    <span
      class="m-composerToolbarItem__label"
      i18n="@@COMMON__NSFW"
      [class.composerToolbarItem__label--hidden]="isCompactMode$ | async"
      >NSFW</span
    >
  </a>
  <a
    *ngIf="
      !legacyPaywallEnabled && !(remind$ | async) && !(isGroupPost$ | async)
    "
    class="m-composerToolbar__item"
    [class.m-composerToolbar__item--active]="monetization$ | async"
    [class.m-composerToolbar__item--disabled]="isPosting$ | async"
    [class.m-composerToolbar__item--small]="isCompactMode$ | async"
    (click)="onMonetizeClick($event)"
    data-cy="monetize-button"
  >
    <i
      class="m-composerToolbarItem__icon m-composerToolbarItem__icon--monetize material-icons"
      [class.m-animation__shimmer--icon]="showShimmer"
      >attach_money</i
    >
    <span
      class="m-composerToolbarItem__label"
      [class.m-animation__shimmer--text]="showShimmer"
      [class.composerToolbarItem__label--hidden]="isCompactMode$ | async"
      i18n="@@COMMON__MONETIZE"
      >Monetize</span
    >
  </a>

  <a
    class="m-composerToolbar__item"
    [class.m-composerToolbar__item--active]="(tags$ | async)?.length"
    [class.m-composerToolbar__item--disabled]="isPosting$ | async"
    [class.m-composerToolbar__item--small]="isCompactMode$ | async"
    (click)="onTagsClick($event)"
    data-cy="tags-button"
  >
    <m-icon
      class="m-composerToolbarItem__icon"
      from="text"
      iconId="#"
      [sizeFactor]="25"
    ></m-icon>
    <span
      class="m-composerToolbarItem__label"
      [class.composerToolbarItem__label--hidden]="isCompactMode$ | async"
      i18n="@@COMMON__TAGS"
      >Tags</span
    >
  </a>

  <span class="m-composerToolbar__itemSpacer"></span>

  <m-button
    class="m-composerToolbar__action m-composerToolbar__action--post"
    [disabled]="
      !(canPost$ | async) || (inProgress$ | async) || (isPosting$ | async)
    "
    [saving]="(inProgress$ | async) || (isPosting$ | async)"
    [dropdown]="postButtonDropdown"
    [dropdownAnchorPosition]="{ top: '100%', right: '0' }"
    [showDropdownMenu]="canSchedule$ | async"
    (onAction)="onPost($event)"
    [size]="(isCompactMode$ | async) ? 'xsmall' : 'small'"
    [color]="(isCompactMode$ | async) ? 'grey' : 'blue'"
    data-cy="post-button"
  >
    <span
      *ngIf="!(isEditing$ | async); else isEditingButtonText"
      i18n="verb|@@COMMON__POST"
      >Post</span
    >
    <ng-template #isEditingButtonText
      ><span i18n="@@COMMON__SAVE">Save</span></ng-template
    >
    <span
      class="m-composerToolbarAction__disabledOverlay"
      *ngIf="
        !(canPost$ | async) || (inProgress$ | async) || (isPosting$ | async)
      "
    ></span>
  </m-button>
</div>

<ng-template #postButtonDropdown>
  <ng-container *ngIf="canSchedule$ | async">
    <ul>
      <m-dropdownMenu__item (click)="onSchedulerClick()" icon="alarm"
        ><span i18n="@@COMPOSER__SCHEDULE_POST">
          Schedule Post
        </span></m-dropdownMenu__item
      >
    </ul>
  </ng-container>
</ng-template>
