@import 'defaults';

.m-juryDutySession__content {
  padding: 16px;
  @include m-theme() {
    background: themed($m-white);
  }

  h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: unset;
    -webkit-font-smoothing: unset;
    font-size: 16px;

    @include m-theme() {
      color: themed($m-grey-800);
    }

    > * {
      line-height: 1;
    }
    > b:first-child {
      @include m-theme() {
        color: themed($m-grey-600);
      }
      display: block;
      line-height: 1.5;
    }
  }

  minds-card {
    margin-top: 16px;
    max-width: 600px;

    m-comment {
      max-width: initial !important;
    }

    .m-mature-thumbnail-overlay {
      display: none !important;
    }

    .m-mature-thumbnail {
      filter: none !important;
    }

    .m-mature-text-toggle {
      display: none !important;
    }

    .m-mature-text {
      filter: none !important;
    }

    .m-mature-content {
      position: relative !important;

      .m-mature-overlay {
        display: none !important;

        .m-mature-overlay-note {
          display: none !important;
        }
      }
    }
  }
}

.m-juryDutySessionContent__appealNote {
  padding-top: 8px;

  > b {
    @include m-theme() {
      color: themed($m-grey-600);
    }
    display: block;
  }
  > p {
    display: inline;
    @include m-theme() {
      color: themed($m-grey-600);
    }
    //padding-left: 8px;
  }
}

.m-juryDutySessionContent__reportedByContainer {
  display: flex;
  align-items: center;
  margin: $spacing4 0;

  @media screen and (max-width: $min-tablet) {
    flex-direction: column;
    align-items: baseline;
  }

  .m-juryDutySessionContent__reportedByText {
    margin-right: $spacing2;

    @include body1Regular;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
}

.m-juryDutySessionContent__changeReportReasonContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: $spacing4 0;

  .m-juryDutySessionContent__changeReportReasonHeader {
    display: flex;

    .m-juryDutySessionContent__changeReportReasonText {
      margin-right: $spacing2;

      @include body1Regular;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    .material-icons {
      transition: all 0.5s ease;
    }

    .material-icons.collapsed {
      transform: rotate(-180deg);
    }
  }

  .m-juryDutySessionContent__changeReportReasonHeader:hover {
    cursor: pointer;
  }

  .m-juryDutySessionContent__changeReportReasonOptions {
    display: flex;
    margin-top: $spacing2;

    m-dropdownSelector {
      margin-bottom: 0;

      .m-dropdownSelector__optionsContainer {
        @include max-height(350px) {
          overflow-y: auto;
        }
      }
    }
  }
}

// fix images showing as too wide.
.m-comment-attachment img {
  max-width: 100%;
}

.m-juryDutySessionContent__options {
  margin-top: 20px;

  m-button {
    margin: 16px;
  }
}
