<div class="m-juryDutySession__content m-border">
  <ng-container *ngIf="!decided; else whenDecided">
    <h3>
      <b *ngIf="report.is_appeal">Action taken: </b>
      <span>Should be</span>
      <b> {{ getAction(report) }} </b>
      <span>for</span>
      <b> {{ getReasonString(report) }} </b>
    </h3>

    <div
      class="m-juryDutySessionContent__appealNote"
      *ngIf="report.appeal_note"
    >
      <b>Appeal note:</b>
      <p>{{ report.appeal_note }}</p>
    </div>

    <div
      *ngIf="report['reporting_users'] && report['reporting_users'].length > 0"
      class="m-juryDutySessionContent__reportedByContainer"
    >
      <span class="m-juryDutySessionContent__reportedByText"
        >Reported By:
      </span>
      <m-userAggregator
        [users]="report['reporting_users']"
        [totalCount]="report['reporting_users_count']"
      ></m-userAggregator>
    </div>

    <div
      *ngIf="!report.is_appeal"
      class="m-juryDutySessionContent__changeReportReasonContainer"
    >
      <div
        (click)="toggleChangeReportReason()"
        class="m-juryDutySessionContent__changeReportReasonHeader"
      >
        <span class="m-juryDutySessionContent__changeReportReasonText"
          >Change Report Reason
        </span>
        <i class="material-icons {{ changeReportReason ? 'collapsed' : '' }}"
          >expand_more</i
        >
      </div>
      <div
        class="m-juryDutySessionContent__changeReportReasonOptions"
        *ngIf="changeReportReason"
      >
        <m-dropdownSelector
          [filter]="{ options: reasons }"
          (selectionMade)="updateReasonSelection($event)"
        ></m-dropdownSelector>
        <m-dropdownSelector
          *ngIf="selectedReason && selectedReason.hasMore"
          [filter]="{ options: selectedReason.reasons }"
          [selectedOption]="selectedReason.reasons[0]"
          (selectionMade)="updateSubReasonSelection($event)"
        ></m-dropdownSelector>
      </div>
    </div>

    <ng-container *ngIf="report.entity; else noEntity">
      <m-publisherCard
        *ngIf="
          report.entity.type && report.entity.type === 'user';
          else notUser
        "
        [publisher]="report.entity"
      ></m-publisherCard>
      <ng-template #notUser>
        <a
          *ngIf="report.entity.entity_guid"
          [href]="'/newsfeed/' + report.entity.entity_guid"
          target="_blank"
        >
          <h3 style="margin-top: 10px">View linked entity</h3>
        </a>
        <minds-card
          [object]="report.entity"
          [flags]="{ hideToolbar: true }"
          class="mdl-card m-border"
        ></minds-card
      ></ng-template>
    </ng-container>
    <ng-template #noEntity>
      <p>The post could not be loaded. Please overturn the report</p>
    </ng-template>

    <div class="m-juryDutySessionContent__options">
      <m-button (onAction)="uphold()">
        <ng-container *ngIf="report.is_appeal; else upholdLabel"
          >Reject Appeal</ng-container
        >
        <ng-template #upholdLabel>Uphold Report</ng-template>
      </m-button>
      <m-button (onAction)="overturn()">
        <ng-container *ngIf="report.is_appeal; else overturnLabel"
          >Accept Appeal</ng-container
        >
        <ng-template #overturnLabel>Overturn Report</ng-template>
      </m-button>
    </div>
  </ng-container>

  <ng-template #whenDecided>
    <p>
      Thanks for casting your vote.
    </p>
  </ng-template>
</div>
