@import 'defaults.scss';

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border-radius: 0 !important;
  @include m-theme() {
    background: themed($m-bgColor--primary);
  }

  // *********************************
  // ** FEED **
  // *********************************

  &.m-activity--isFeed {
    @include borderTop;

    .m-activity__top {
      padding-left: $activityAvatarSpacingLeft--feed;
      padding-right: $activitySpacingRight--feed;

      @media screen and (max-width: $max-mobile) {
        padding-left: $activityAvatarSpacingLeft--feed--mobile;
        padding-right: $activitySpacingRight--feed--mobile;
      }
    }
  }

  // *********************************
  // ** FIXED HEIGHT **
  // *********************************

  &.m-activity--fixedHeight {
    justify-content: space-between;
    border-top: none !important;
    width: 100%;
    // leave room for top boost rotator buttons
    height: calc(100% - 45px);

    .m-activity__top {
      padding-top: $spacing4;
      overflow: hidden;
      // leave room for bottom toolbar
      height: calc(100% - 68px);
    }

    .m-activity__flagRow {
      padding-bottom: 0;
    }

    ::ng-deep {
      m-activityV2__nsfwConsent {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

  // *********************************
  // ** MINIMAL MODE **
  // *********************************

  &.m-activity--minimalMode {
    padding: 0;
    border-radius: $borderRadius--activity !important;

    @include m-theme() {
      border: 1px solid themed($m-borderColor--primary) !important;
    }

    @media screen and (max-width: $max-mobile) {
      border-radius: 0 !important;
      @include m-theme() {
        border: none !important;
        border-top: 1px solid themed($m-borderColor--primary) !important;
      }
    }

    ::ng-deep .m-activityContent--paywalledStatus {
      padding-top: $spacing7;
    }
    ::ng-deep .m-videoPlayer__placeholder i {
      font-size: 70px;
    }

    .m-activity__top {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .m-activity__flagRow {
      display: none;
    }
  }

  // *********************************
  // ** MODAL **
  // *********************************

  m-activityV2__modal & {
    padding: 0;
    @media screen and (max-width: $max-mobile) {
      padding: 0;
    }
  }

  // *********************************
  // ** SIDEBAR BOOST **
  // *********************************

  m-ads-boost & {
    padding: 0;
    .m-activity__top {
      padding-top: 0;
    }
  }

  // *********************************
  // ** SINGLE **
  // *********************************

  &.m-activity--isSingle {
    padding: 0;
    border-top: none !important;

    @media screen and (max-width: $max-mobile) {
      padding: 0;
    }

    .m-activity__top {
      padding-left: $activityAvatarSpacingLeft--single;
      padding-right: $activitySpacingRight--single;
      padding-top: $spacing4;
      padding-bottom: 0;

      @media screen and (max-width: $max-mobile) {
        padding-left: $activityAvatarSpacingLeft--single--mobile;
        padding-right: $activitySpacingRight--single--mobile;
      }
    }

    .m-activityTop__avatarColumn,
    ::ng-deep m-activityV2__quote .m-activityTop__avatarColumn {
      padding-right: $activityAvatarSpacingRight--single;
    }
  }
  // *********************************
  // ** PRO **
  // *********************************

  m-pro--channel & {
    &.m-activity--isFeed {
      .m-activity__top {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // *********************************
  // *********************************
  // *********************************
  // ** DEFAULT **
  // *********************************
  // *********************************
  // *********************************

  .m-activity__top {
    display: flex;
    flex-direction: row;
    padding-top: $spacing4;
  }

  .m-activityTop__avatarColumn,
  ::ng-deep m-activityV2__quote .m-activityTop__avatarColumn {
    padding-right: $activityAvatarSpacingRight--feed;
  }

  .m-activityTop__mainColumn,
  ::ng-deep m-activityV2__quote .m-activityTop__mainColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0; // See https://stackoverflow.com/a/66689926
  }

  .m-activity__flagRow {
    display: flex;
    flex-direction: row;
    padding-bottom: $spacing3;
    align-items: center;

    .m-activity__boostRotatorButtons {
      ::ng-deep m-icon {
        margin-right: $spacing1;
        @include unselectable;
        i {
          cursor: pointer;
          // @include heading2Regular;
          @include unselectable;
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
      }
    }
  }

  // *********************************
  // ** AVATAR **
  // *********************************

  .m-activity__avatar,
  ::ng-deep m-activityV2__quote .m-activity__avatar {
    padding-right: $activityAvatarSpacingRight--feed;

    @media screen and (max-width: $max-mobile) {
      padding-right: $activityAvatarSpacingRight--feed--mobile;
    }

    img {
      border-radius: 50%;
      width: $activityAvatarWidth;
      height: $activityAvatarWidth;
      object-fit: cover;
      box-sizing: border-box;
    }
  }

  .m-activityLeftColumn__spacer {
    height: $spacing8;
  }
}
