@import 'defaults.scss';
@import '../../layout/layout.scss';

:host {
  .m-dataTab {
    cursor: pointer;
    flex: 0 0 auto;
    width: 160px;
    min-height: 124px;
    padding: 24px 20px 20px 0;
    font-size: 14px;
    box-sizing: border-box;
    overflow: visible;
    @include m-theme() {
      border-bottom: 6px solid transparent;
      color: themed($m-textColor--secondary);
    }

    &.active {
      @include m-theme() {
        border-bottom: 6px solid themed($m-blue);
      }
    }
    &:first-child {
      margin-left: 40px;
    }
    &:last-child {
      margin-right: 40px;
    }

    .m-dataTab__label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    m-tooltip {
      vertical-align: middle;
      .m-tooltip {
        margin-left: 4px;
        i {
          font-size: 12px;
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
      }
    }
    .m-dataTab__value {
      font-size: 17px;
      margin-top: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
    .m-dataTab__delta {
      display: flex;
      align-items: baseline;
      padding-top: 4px;
      font-size: 11px;
      .material-icons {
        transform: scaleX(0.7);
        font-size: 11px;
        font-weight: bold;
      }
      @include m-theme() {
        &.goodChange {
          color: themed($m-green);
        }
        &.badChange {
          color: themed($m-red);
        }
      }
    }
  }

  @media screen and (max-width: $min-tablet) {
    .m-dataTab {
      scroll-snap-align: start;
      &:first-child {
        margin-left: 20px;
      }
      &:last-child {
        margin-right: 20px;
      }
    }
  }
}
