<div class="m-newsfeed__inner">
  <ng-container [m-clientMeta]="{ source: 'feed/subscribed', medium: 'feed' }">
    <div
      class="m-border mdl-color--green mdl-color-text--white m-newsfeed-boost-promo"
      *ngIf="newUserPromo"
    >
      <i class="material-icons">trending_up</i>
      <ng-container i18n="@@MINDS__NEWSFEED__200_FREE_VIEWS"
        >Have 200 free views on us. Hit post to be boosted.
      </ng-container>
    </div>

    <ng-container>
      <m-composer
        [activity]="message ? { message: message } : undefined"
        [size]="'compact'"
        #composer
      ></m-composer>
    </ng-container>

    <m-feedNotice__outlet location="top"></m-feedNotice__outlet>

    <m-feedHeader [algorithm]="algorithm"></m-feedHeader>
    <div class="minds-list" m-hotkeyScroll [anchors]="feedViewChildren">
      <ng-container *ngIf="algorithm === 'latest'">
        <ng-container *ngFor="let preActivity of prepended; let i = index">
          <m-feedNotice__outlet
            *ngIf="i > 0 && i % 6 === 0"
            location="inline"
          ></m-feedNotice__outlet>
          <m-activity
            [entity]="preActivity"
            [displayOptions]="{
              showOnlyCommentsInput: true,
              isFeed: true
            }"
            (deleted)="delete(preActivity)"
          ></m-activity>
        </ng-container>
      </ng-container>

      <!--boost rotator-->
      <ng-container *mIfFeature="'boost-rotator'">
        <ng-container *mIfBrowser>
          <m-newsfeed--boost-rotator
            *ngIf="showBoostRotator"
            #feedViewChildren
            #boostRotator
          ></m-newsfeed--boost-rotator>
        </ng-container>
      </ng-container>

      <m-channelRecommendation
        location="newsfeed"
        *ngIf="shouldShowChannelRecommendation('emptyState')"
      ></m-channelRecommendation>

      <!--actual feed-->
      <ng-container
        *ngFor="let activity$ of feedService.feed | async; let i = index"
      >
        <m-feedNotice__outlet
          *ngIf="i > 0 && i % 6 === 0"
          location="inline"
        ></m-feedNotice__outlet>
        <m-featured-content
          *ngIf="(i > 0 && i % 5 === 0) || i === 3"
          [slot]="i + 1"
          [displayOptions]="{
            showOnlyCommentsInput: true,
            isFeed: true
          }"
          #feedViewChildren
        ></m-featured-content>
        <m-topHighlights
          (onSeeMore)="onShowMoreTopFeed()"
          *ngIf="
            shouldShowTopHighlights(i) && !(isTopHighlightsDismissed$ | async)
          "
        ></m-topHighlights>
        <m-activity
          *ngIf="activity$ | async as activity"
          [entity]="activity"
          [displayOptions]="{
            showOnlyCommentsInput: true,
            isFeed: true
          }"
          [slot]="i + 1"
          (deleted)="delete(activity)"
          #feedViewChildren
        ></m-activity>
        <m-channelRecommendation
          location="newsfeed"
          [dismissible]="true"
          *ngIf="
            shouldShowChannelRecommendation('feed', i) &&
            !(isChannelRecommendationDismissed$ | async)
          "
        ></m-channelRecommendation>
      </ng-container>

      <infinite-scroll
        (load)="loadNext()"
        [moreData]="feedService.hasMore | async"
        [inProgress]="feedService.inProgress | async"
      >
      </infinite-scroll>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="algorithm === 'latest'">
  <ng-container *mIfBrowser>
    <m-seeLatestPostsButton
      [feedService]="feedService"
      (click)="scrollToUnderBoostRotator()"
    ></m-seeLatestPostsButton>
  </ng-container>
</ng-container>
