<div class="m-userAggregator__avatarContainer">
  <ng-container *ngFor="let user of users; let i = index">
    <m-hovercard
      *ngIf="i < avatarAmount"
      [publisher]="user"
      [offset]="[0, 15]"
      class="m-userAggregator__hoverCard"
    >
      <a [routerLink]="['/', user.username]">
        <minds-avatar
          [object]="user"
          class="m-userAggregator__avatar"
        ></minds-avatar>
      </a>
    </m-hovercard>
  </ng-container>
</div>
<span
  class="m-userAggregator__userSummary"
  [ngClass]="{
    'm-userAggregator__userSummary--clickable': clickable
  }"
  (click)="onClick.emit($event)"
  *ngIf="users.slice(0, usernameAmount) as slicedUsers"
>
  <span *ngFor="let user of slicedUsers; let i = index">
    <a
      [routerLink]="'/' + user.username"
      (click)="$event.stopPropagation()"
      class="m-userAggregator__usernameHref"
      >{{ user.name | truncate: 12 }}</a
    >
    <span *ngIf="i < slicedUsers.length - 1 && totalCount > 2">,&nbsp;</span>
    <span *ngIf="i < slicedUsers.length - 1 && totalCount == 2"> and </span>
  </span>
  <span *ngIf="othersCount > 0; else blankSpace">
    and {{ othersCount }} { othersCount, plural, =1 {other} other {others} }
  </span>
  <ng-template #blankSpace>&nbsp;</ng-template>
  <ng-content select="[suffix-text]"></ng-content>
</span>
