@import 'defaults.scss';

:host {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .m-userAggregator__avatarContainer {
    display: flex;
    flex-flow: row nowrap;

    > * + * {
      margin-left: -$spacing2;
    }

    .m-userAggregator__hoverCard {
      .m-userAggregator__avatar ::ng-deep .minds-avatar {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin: 0;
        background-position: center;
        background-size: cover;

        @include m-theme() {
          border: 1px solid themed($m-borderColor--primary);
        }
      }
    }
  }

  .m-userAggregator__userSummary {
    align-self: center;
    margin-left: $spacing2;
    min-width: 0;
    white-space: pre-wrap;

    @include body3Regular;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    .m-userAggregator__usernameHref {
      @include m-theme() {
        color: themed($m-textColor--primary);
        text-decoration: none;

        &:hover {
          color: themed($m-textColor--secondary);
        }
      }
    }

    &.m-userAggregator__userSummary--clickable {
      cursor: pointer;
      &:hover {
        @include m-theme() {
          color: lighten(themed($m-textColor--secondary), 10%);
        }
      }
    }
  }
}
