<div class="m-popover__wrapper">
  <ng-content></ng-content>
  <div class="m-popover__content" #content>
    <i
      class="m-popover__close material-icons"
      *ngIf="isMobileOrTablet"
      (click)="hide()"
      >close</i
    >
    <ul class="m-popover__rules">
      <li
        [class.m-popover__rule--checked]="lengthCheck"
        i18n="@@REGISTRATION_VALIDATOR__MORE_THAN_8_CHARACTERS"
      >
        8 or more characters
      </li>
      <li
        [class.m-popover__rule--checked]="specialCharCheck"
        i18n="@@REGISTRATION_VALIDATOR__1_SPECIAL_CHARACTER"
      >
        At least 1 special character
      </li>
      <li
        [class.m-popover__rule--checked]="mixedCaseCheck"
        i18n="@@REGISTRATION_VALIDATOR__MIXED_CASE"
      >
        Mixed case
      </li>
      <li
        [class.m-popover__rule--checked]="numbersCheck"
        i18n="@@REGISTRATION_VALIDATOR__1_NUMBER"
      >
        At least 1 number
      </li>
      <li
        [class.m-popover__rule--checked]="spacesCheck"
        i18n="@@REGISTRATION_VALIDATOR__NO_SPACES"
      >
        Doesn't have spaces
      </li>
      <li
        [class.m-popover__rule--checked]="
          riskCheck && !riskCheckInProgress && synchronousChecksValid
        "
        [class.m-popover__rule--invalid]="
          !riskCheck && !riskCheckInProgress && synchronousChecksValid
        "
        class="m-popover__rule--risk"
      >
        <m-loadingSpinner [inProgress]="riskCheckInProgress"></m-loadingSpinner>
        <ng-container i18n="@@REGISTRATION_VALIDATOR__RISK_CHECK">
          Passes risk test
        </ng-container>
        <m-tooltip icon="help">
          <ng-container i18n="@@REGISTRATION_VALIDATOR__RISK_INFO"
            >If this test has failed, the password you entered has been
            previously exposed in data breaches and is not safe to use. Please
            use a more secure alternative.</ng-container
          >
        </m-tooltip>
      </li>
    </ul>
  </div>
</div>
