<m-dropdownMenu [menu]="dropdownMenu">
  <button
    class="m-activityRemindButton__icon"
    [class.has-reminded]="hasReminded"
  >
    <i class="material-icons">repeat</i>
    <span
      class="minds-counter"
      *ngIf="!service.displayOptions.showInteractions && (count$ | async) > 0"
      >{{ count$ | async }}</span
    >
  </button>
</m-dropdownMenu>

<ng-template #dropdownMenu>
  <ul>
    <ng-container *ngIf="hasReminded; else remindOptions">
      <m-dropdownMenu__item (click)="onUndoRemind($event)" icon="repeat">
        <span>Undo Remind</span>
      </m-dropdownMenu__item>
    </ng-container>
    <ng-template #remindOptions>
      <m-dropdownMenu__item (click)="onRemindClick($event)" icon="repeat">
        <span>Remind</span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item (click)="onQuotePostClick($event)" icon="create">
        <span>Quote post</span>
      </m-dropdownMenu__item>
    </ng-template>
  </ul>
</ng-template>
