@import 'defaults.scss';

:host {
  position: relative;
  .m-dropdown--v2 {
    z-index: 4;
  }

  .m-activityRemindButton__icon {
    padding: 0;
    border: 0;
    appearance: none;
    background: transparent;
    margin: 0;

    &.has-reminded i {
      @include m-theme() {
        color: themed($m-link);
      }
    }

    > * {
      vertical-align: middle;
    }
    .minds-counter {
      padding-right: 0;
    }
  }
}
