@import 'defaults.scss';
:host {
  .m-pageLayout__pane--main {
    width: 100%;
  }

  .m-groupsMemberships {
    margin: 30px;
    @media screen and (max-width: $max-mobile) {
      margin: 24px;
    }
  }
  h2 {
    font-size: 32px;
    line-height: 43px;
    margin: 0;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
  .m-groupsMemberships__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-direction: column;

    @media screen and (max-width: $max-mobile) {
      flex-direction: row;
      align-items: center;
    }
  }

  @media screen and (max-width: $max-mobile) {
    .m-groupsMemberships__buttons {
      display: none;
    }
    .m-groupsMemberships__menu {
      display: block;
    }
  }
  @media screen and (min-width: $max-mobile + 1) {
    .m-groupsMemberships__buttons {
      display: block;
      margin: 20px 0 0 0;
      ::ng-deep m-button {
        margin-right: 10px;
      }
    }
    .m-groupsMemberships__menu {
      display: none;
    }
  }

  .m-groupsMemberships__menu {
    position: relative;
    i {
      font-size: 30px;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  ::ng-deep .m-publisherCard {
    margin-bottom: 15px;

    .m-publisherCard__subs span {
      padding-right: 2px !important;
    }
  }
}
