<div class="m-pageLayout__container">
  <div
    class="m-pageLayout__pane--main"
    m-pageLayout__pane="main"
    style="position: relative;"
  >
    <div class="m-groupsMemberships">
      <!-- ---------------  -->
      <!-- HEADER -->
      <!-- ---------------  -->
      <div class="m-groupsMemberships__header">
        <h2>Groups</h2>
        <!-- ---------------  -->
        <!-- BUTTONS  -->
        <!-- ---------------  -->
        <div class="m-groupsMemberships__buttons">
          <m-button size="small"
            ><a routerLink="/groups/create"
              ><span>Create group</span></a
            ></m-button
          >
          <m-button size="small"
            ><a routerLink="'/discovery/suggestions/group"
              ><span>Discover groups</span></a
            ></m-button
          >
        </div>
        <!-- ---------------  -->
        <!-- DROPDOWN  -->
        <!-- (MOBILE ONLY) -->
        <!-- ---------------  -->
        <m-dropdownMenu [menu]="dropdownMenu" class="m-groupsMemberships__menu">
          <i class="material-icons">more_vert</i>
        </m-dropdownMenu>

        <ng-template #dropdownMenu>
          <ul>
            <m-dropdownMenu__item [link]="'/groups/create'">
              Create group
            </m-dropdownMenu__item>
            <m-dropdownMenu__item [link]="'/discovery/suggestions/group'">
              Discover groups
            </m-dropdownMenu__item>
          </ul>
        </ng-template>

        <!-- ---------------  -->
      </div>

      <!-- ---------------  -->
      <!-- BODY -->
      <!-- ---------------  -->
      <div *ngIf="groups && groups.length">
        <m-publisherCard
          *ngFor="let group of groups"
          [publisher]="group"
          [showSubscribeButton]="false"
          ><m-group__membershipButton
            class="m-publisherCard__button"
            *ngIf="
              !group['is:creator'] ||
              (session.isAdmin() && !group['is:invited'])
            "
            [group]="group"
          ></m-group__membershipButton>
        </m-publisherCard>
        <infinite-scroll
          (load)="load()"
          [moreData]="this.moreData"
          [inProgress]="this.inProgress"
        ></infinite-scroll>
      </div>
      <div *ngIf="!groups?.length && !inProgress">
        <p>
          You aren't a member of any groups yet.<br />
          <a routerLink="/discovery/suggestions/group">Discover groups</a>.
        </p>
      </div>
      <!-- ---------------  -->
    </div>
  </div>
  <div class="m-groupsMemberships__sidebar" m-pageLayout__pane="right"></div>
</div>
