<div class="m-boost-console-booster--cta">
  <span i18n="@@BOOST__CONSOLE__BOOSTER__CTA"
    >Boosting guarantees more views on your posts and content.</span
  >
</div>

<div class="m-boost-console-booster--content">
  <!-- Posts  -->
  <ng-container *ngIf="type == 'newsfeed' || type == 'offers'">
    <ng-container>
      <div class="m-boost-console--booster--posts-list">
        <ng-container *ngFor="let entity of feed$ | async">
          <minds-card
            [object]="entity | async"
            class="m-border"
            [flags]="{ hideTabs: false }"
          ></minds-card>
        </ng-container>
      </div>
    </ng-container>

    <h3 [hidden]="noContent" i18n="@@BOOST__CONSOLE__BOOSTER__POST_SOMETHING">
      You have no content yet. Why don't you post something?
    </h3>
    <div
      *ngIf="inProgress"
      class="mdl-spinner mdl-js-spinner is-active"
      [mdl]
    ></div>
  </ng-container>

  <!-- User and Media  -->
  <ng-container *ngIf="type == 'content'">
    <h3 i18n="@@BOOST__CONSOLE__BOOSTER__YOUR_CHANNEL_TITLE">Your channel</h3>
    <minds-card
      [object]="session.getLoggedInUser()"
      class="mdl-shadow--2dp"
    ></minds-card>

    <ng-container *ngIf="(feed$ | async)?.length != 0">
      <h3 i18n="@@BOOST__CONSOLE__BOOSTER__YOUR_RECENT_MEDIA_TITLE">
        Your recent media
      </h3>
      <div class="mdl-grid m-boost-console-booster--content-grid">
        <div
          class="mdl-cell mdl-cell--6-col"
          *ngFor="let entity of feed$ | async"
        >
          <ng-container *ngIf="(entity | async)?.thumbnail_src">
            <minds-card
              [object]="entity | async"
              class="mdl-shadow--2dp"
            ></minds-card>
            <m-boostButton [object]="entity | async"></m-boostButton>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <h3
      [hidden]="!inProgress && noContent"
      i18n="@@BOOST__CONSOLE__BOOSTER__POST_SOMETHING"
    >
      You have no content yet. Why don't you post something?
    </h3>
    <div
      *ngIf="inProgress"
      class="mdl-spinner mdl-js-spinner is-active"
      [mdl]
    ></div>
    <div #poster [hidden]="!inProgress && noContent"></div>
  </ng-container>

  <infinite-scroll
    (load)="loadNext()"
    [moreData]="feedsService.hasMore | async"
    [inProgress]="inProgress"
  ></infinite-scroll>
</div>
