@import 'defaults.scss';
@import '../../activity.component.scss';

:host {
  text-align: left;
  display: block;
  position: relative;

  a {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  ::ng-deep {
    m-activity {
      margin-top: 20px;
      line-height: normal;
      height: calc(100% - 40px) !important;

      .m-activityContent__message--isTextOnly {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    m-activity__ownerBlock {
      text-align: left;
    }
    m-activity__toolbar {
      display: none;
    }
  }
}
