@import 'defaults';

.minds-button-edit,
minds-button-user-dropdown,
.m-button {
  > button,
  .m-userDropdownButton__trigger {
    cursor: pointer;
    background: transparent;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
    @include m-theme() {
      color: themed($m-grey-800);
    }

    &.material-icons {
      padding: $minds-padding * 0.5;
      font-size: 24px;
    }
  }

  &:focus,
  > button:focus {
    outline: none;
    -webkit-appearance: none;
  }

  > button:hover,
  > button.subscribed,
  > button.selected {
    //background-color: themed($m-blue-grey-400);
    @include m-theme() {
      color: themed($m-grey-950);
    }
  }
}

minds-button-subscribe {
  &.m-subscribeButton--iconsOnly {
    & > div {
      height: 34px;
      width: 34px;
      border: 1px solid #ececec;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      & > i {
        color: #a3a3a3;
      }

      &.m-subscribeButton__subscribed {
        & > i {
          @include m-theme() {
            color: themed($m-link);
          }
        }
      }
    }
  }

  button.m-btn--subscribe {
    white-space: nowrap;
  }

  &.m-button-icon-only button {
    min-width: 0;
    width: 36px;
    padding: 4px;
    overflow: hidden;
    white-space: nowrap;
  }
}

minds-button-feature > button {
  padding: 4px;
}

minds-button-remind {
  a {
    cursor: pointer;
  }
}

.m-action-tabs {
  minds-button-feature > button {
    background: none;
    padding: 0;
    border: 0;
  }
}

.selected {
  @include m-theme() {
    color: themed($m-blue) !important;
  }
}

.minds-counter:before {
  //content:'( ';
}

.minds-counter {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  vertical-align: middle;
  padding: 0 8px;
  white-space: nowrap;
}

.minds-counter:after {
  //content:' )';
}

.minds-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  cursor: default;
}

.m-bgOverlay--v2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  cursor: default;
  z-index: 1;
}

minds-button-comment a,
minds-button-remind a {
  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
}

minds-button-comment > a,
minds-button-remind > a {
  &:hover {
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
}
