<m-dropdownMenu
  [menu]="dropdownMenu"
  data-cy="data-minds-user-dropdown"
  (click)="toggleMenu($event)"
  ><i class="material-icons m-userDropdownButton__trigger">
    more_vert
  </i>
</m-dropdownMenu>

<ng-template #dropdownMenu>
  <ul>
    <m-dropdownMenu__item
      *ngIf="!user.blocked"
      (click)="block()"
      data-cy="data-minds-user-dropdown-block"
    >
      <span i18n="@@MINDS__BUTTONS__USER_DROPDOWN__BLOCK"
        >Block @{{ user.username }}</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item *ngIf="user.blocked" (click)="unBlock()">
      <span i18n="@@MINDS__BUTTONS__USER_DROPDOWN__UNBLOCK"
        >Un-Block @{{ user.username }}</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item [hidden]="user.subscribed" (click)="subscribe()">
      <span i18n="@@MINDS__BUTTONS__USER_DROPDOWN__SUBSCRIBE">Subscribe</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item [hidden]="!user.subscribed" (click)="unSubscribe()">
      <span i18n="@@MINDS__BUTTONS__USER_DROPDOWN__UNSUBSCRIBE"
        >Unsubscribe</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="session.isAdmin()"
      [hidden]="user.banned !== 'yes'"
      (click)="unBan()"
    >
      <span i18n="@@MINDS__BUTTONS__USER_DROPDOWN__UNBAN_GLOBALLY"
        >Un-ban globally</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item *ngIf="session.isAdmin()" (click)="viewLedger()">
      <span i18n="@@MINDS_BUTTON__USER_DROPDOWN__VIEW_LEDGER">View Ledger</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item *ngIf="session.isAdmin()" (click)="viewWithdrawals()">
      <span i18n="@@MINDS_BUTTON__USER_DROPDOWN__VIEW_WITHDRAWALS"
        >View Withdrawals</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item *ngIf="session.isAdmin()" (click)="viewEmail()">
      <span i18n="@@MINDS_BUTTON__USER_DROPDOWN__VIEW_EMAIL_ADDR"
        >E-mail Address</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item (click)="report()">
      <ng-container i18n="@@M__ACTION__REPORT">Report</ng-container>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="session.isAdmin()"
      [hidden]="user.is_mature"
      (click)="setExplicit(true)"
    >
      <span i18n="@@M__ACTION__MARK_EXPLICIT">Set as explicit</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="session.isAdmin()"
      [hidden]="!user.is_mature"
      (click)="setExplicit(false)"
    >
      <span i18n="@@M__ACTION__REMOVE_EXPLICIT">Remove explicit</span>
    </m-dropdownMenu__item>
    <m-nsfw-selector
      *ngIf="session.isAdmin()"
      service="editing"
      [selected]="user.nsfw_lock"
      (selectedChange)="setNSFWLock($event)"
    >
    </m-nsfw-selector>
    <m-dropdownMenu__item *ngIf="session.isAdmin()" (click)="reindex()">
      <span i18n="@@M__ACTION__REINDEX">Reindex</span>
    </m-dropdownMenu__item>
    <ng-container *ngIf="session.isAdmin()">
      <m-dropdownMenu__item [hidden]="user.rating === 1" (click)="setRating(1)">
        <span i18n="@@M__ACTION__MARK_AS_SAFE">Mark as Safe</span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item [hidden]="user.rating === 2" (click)="setRating(2)">
        <span i18n="@@M__ACTION__MENU__MARK_AS_OPEN">Mark as Open</span>
      </m-dropdownMenu__item>
    </ng-container>
  </ul>
</ng-template>

<!-- -------------------------- -->

<m-modal-confirm
  *ngIf="banToggle"
  [open]="true"
  [closeAfterAction]="true"
  (closed)="banToggle = false"
  (actioned)="ban()"
  yesButton="Ban user"
  i18n-yesButton="@@M__ACTION__BAN_USER"
>
  <p confirm-message>
    <ng-container i18n="@@MINDS__BAN__CONFIRMATION"
      >Are you sure you want to ban this user?
    </ng-container>
    <br /><br />
    <ng-container i18n
      >This will close all open sessions and lock them out from Minds.
    </ng-container>
  </p>
  <p
    confirm-success-message
    i18n="@@MINDS__BUTTONS__USER_DROPDOWN__BAN_USER_SUCCESS_MESSAGE"
  >
    User has been banned.
  </p>
</m-modal-confirm>

<!-- -------------------------- -->

<m-modal-confirm
  *ngIf="banMonetizationToggle"
  [open]="true"
  [closeAfterAction]="true"
  (closed)="banMonetizationToggle = false"
  (actioned)="banMonetization()"
  yesButton="Ban user"
  i18n-yesButton="@@M__ACTION__BAN_USER"
>
  <p confirm-message>
    <ng-container i18n="@@BAN__FROM__MONETIZATION"
      >Are you sure you want to ban this user from monetization?
    </ng-container>
    <br /><br />
    <ng-container i18n="@@MINDS_BUTTON__USER_DROPDOWN__WILL_CLOSE_SESSIONS_TEXT"
      >This will close all open sessions and decline pending payments.
    </ng-container>
    <br />
    <ng-container i18n="@@MINDS_BUTTON__USER_DROPDOWN__THERE_IS_NO_UNDO"
      >There's no UNDO. This will NOT ban the user from Minds.
    </ng-container>
  </p>
  <p
    confirm-success-message
    i18n="@@MINDS__BUTTONS__USER_DROPDOWN__BAN_MONETIZATION_SUCCESS_MESSAGE"
  >
    User has been banned from monetization.
  </p>
</m-modal-confirm>

<!-- -------------------------- -->

<m-modal
  *ngIf="viewEmailToggle"
  [open]="true"
  (closed)="viewEmailToggle = false"
>
  <div
    class="mdl-card__supporting-text"
    style="padding: 64px; font-size: 20px; text-align: center;"
  >
    @{{ user.username }}'s email:
    <a
      *ngIf="user.email"
      [href]="'mailto:' + user.email"
      style="text-decoration: none;"
      >{{ user.email }}</a
    >
    <ng-container *ngIf="!user.email">...</ng-container>
  </div>
</m-modal>
