<div
  class="m-groups--tile m-border"
  [class.m-groupTile--hasUpdates]="hasMarker"
>
  <div class="m-groups--tile-banner">
    <div
      class="m-groups--tile-banner-img"
      [ngStyle]="{
        'background-image':
          'url(' +
          cdnUrl +
          'fs/v1/banners/' +
          entity.guid +
          '/fat/' +
          entity.icontime +
          ')'
      }"
    ></div>
    <div class="minds-banner-overlay"></div>
  </div>

  <a
    [routerLink]="['/groups/profile', entity.guid]"
    class="m-groups--tile-block"
  >
    <div class="m-groups--tile__avatar">
      <div
        class="m-groups--tile__avatarImg"
        [ngStyle]="{
          'background-image':
            'url(' + cdnUrl + 'fs/v1/avatars/' + entity.guid + '/large)'
        }"
        [class.m-pulsating--big]="entity.hasGathering$ | async"
      ></div>
    </div>
    <div class="body">
      <h3>{{ entity.name }}</h3>
      <span i18n="@@GROUPS__TILE__MEMBERS_COUNT"
        ><b>{{ entity['members:count'] | number }}</b> members</span
      >
    </div>
  </a>

  <div class="m-groups--tile-buttons">
    <m-group__membershipButton
      *ngIf="!entity['is:member']; else isMember"
      [group]="entity"
    ></m-group__membershipButton>

    <ng-template #isMember>
      <m-button color="blue" i18n="@@GROUPS__TILE__OPEN_ACTION"
        ><a [routerLink]="['/groups/profile', entity.guid]"> Open</a>
      </m-button>
    </ng-template>

    <m-safe-toggle
      *ngIf="session.isAdmin()"
      [(entity)]="entity"
    ></m-safe-toggle>
  </div>
</div>
