<ng-container
  *ngIf="
    !(completed$ | async) && !(loading$ | async) && !noticeExperimentActive
  "
>
  <div
    class="m-onboardingWidget__container"
    data-cy="data-minds-onboarding-widget"
  >
    <!-- Header -->
    <div class="m-onboardingWidget__header">
      <ng-container [ngSwitch]="(progress$ | async)?.id">
        <ng-template ngSwitchCase="InitialOnboardingGroup">
          <span
            class="m-onboardingWidget__title"
            i18n="@@ONBOARDING_WIDGET__COMPLETE_TO_EARN"
            >Complete to earn tokens</span
          >
        </ng-template>
        <ng-template ngSwitchCase="OngoingOnboardingGroup">
          <span
            class="m-onboardingWidget__title"
            i18n="@@ONBOARDING_WIDGET__IMPROVE_YOUR_CHANNEL"
            >Improve your channel</span
          >
        </ng-template>
      </ng-container>
      <m-dropdownMenu
        *ngIf="dropdown"
        [menu]="dropdown"
        [anchorPosition]="{ top: '100%', right: '0' }"
        triggerClass="m-button__dropdownArrow"
        menuClass="m-button__dropdownMenu"
        #dropdownMenuComponent
        data-cy="data-minds-onboarding-widget-dropdown"
      >
        <i class="material-icons m-onboardingWidget__ellipsisMenu">more_vert</i>
      </m-dropdownMenu>
    </div>
    <!-- Body -->
    <div
      class="m-onboardingWidget__body"
      *ngIf="!collapsed"
      data-cy="data-minds-onboarding-widget-body"
    >
      <!-- Progress bar -->
      <div class="m-onboardingWidget__progressBarContainer">
        <div
          class="m-onboardingWidget__progressBar"
          [ngStyle]="{ width: (progress$ | async)?.completed_pct * 100 + '%' }"
          data-cy="data-minds-onboarding-widget-progress-bar"
        ></div>
      </div>
      <!-- Tasks -->
      <div class="m-onboardingWidget__stepsContainer">
        <div
          class="m-onboardingWidget__step"
          *ngFor="let step of (progress$ | async)?.steps"
          [ngClass]="{ completed: step.is_completed }"
          (click)="onTaskClick(step.id)"
        >
          <ng-container [ngSwitch]="step.id">
            <span
              *ngSwitchCase="'VerifyEmailStep'"
              i18n="@@ONBOARDING_WIDGET__VERIFY_EMAIL_ADDRESS"
              data-cy="data-minds-onboarding-widget-verify-email"
            >
              Verify email address
            </span>
            <span
              *ngSwitchCase="'SuggestedHashtagsStep'"
              i18n="@@ONBOARDING_WIDGET__SELECT_TAGS"
              data-cy="data-minds-onboarding-widget-select-tags"
            >
              Select tags
            </span>
            <span
              *ngSwitchCase="'SetupChannelStep'"
              i18n="@@ONBOARDING_WIDGET__SETUP_CHANNEL"
              data-cy="data-minds-onboarding-widget-setup-channel"
            >
              Setup channel
            </span>
            <span
              *ngSwitchCase="'VerifyUniquenessStep'"
              i18n="@@ONBOARDING_WIDGET__VERIFY_UNIQUENESS"
              data-cy="data-minds-onboarding-widget-verify-uniqueness"
            >
              Verify uniqueness
            </span>
            <span
              *ngSwitchCase="'CreatePostStep'"
              i18n="@@ONBOARDING_WIDGET__CREATE_A_POST"
              data-cy="data-minds-onboarding-widget-create-post"
            >
              Create a post
            </span>
            <span *ngSwitchDefault>{{ step.id }}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- Dropdown template -->
  <ng-template #dropdown>
    <ul>
      <m-dropdownMenu__item (click)="onHideClick('hide')" *ngIf="!collapsed"
        ><span i18n="@@ONBOARDING_WIDGET__HIDE_THIS_PANEL"
          >Hide this panel</span
        ></m-dropdownMenu__item
      >
      <m-dropdownMenu__item (click)="onHideClick('show')" *ngIf="collapsed">
        <span i18n="@@ONBOARDING_WIDGET__SHOW_THIS_PANEL">Show this panel</span>
      </m-dropdownMenu__item>
    </ul>
  </ng-template>
</ng-container>
