// TODO confirm whether this can be deleted
body.m-overlay-modal--shown {
  m-overlay-modal {
    position: fixed;
    // z-index: 9999990;
  }
}

m-overlay-modal {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;

  .m-overlay-modal--backdrop {
    // z-index: 9999995;
    @include m-theme() {
      background-color: rgba(themed($m-black-always), 0.8);
    }
  }

  .m-overlay-modal.m-overlayModal--media {
    position: static;
    // min-width: 1060px; // Should be manually calc'ed as (modalW + padding*2) and @Output
    min-height: 100%;
    display: table;
    height: 100% !important;
    table-layout: fixed;
    width: 100%;

    .m-overlay-modal--close {
      // z-index: 9999998;
      line-height: normal;
      opacity: 0.6;
      position: fixed;
      right: 8px;
      top: 8px;
      transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
      padding: 4px;
      @include m-theme() {
        background-color: rgba(themed($m-white-always), 0);
        color: themed($m-grey-300);
      }
      i.material-icons {
        font-size: 28px;
      }

      &:hover {
        opacity: 1;
      }
    }

    m-media--modal {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 100%;

      .m-mediaModal__wrapper {
        position: static;
        margin: 20px;
        display: inline-block;
        text-align: left;

        .m-mediaModal__theater {
          position: relative;
          // z-index: 9999996;
          @include m-theme() {
            box-shadow: 0 12px 24px rgba(themed($m-black-always), 0.3);
          }
        }
      }
    }
  }
}

.m-mediaModal__loadingPanel .mdl-spinner {
  position: absolute;
  top: unquote('-webkit-calc(50% - 14px)');
  left: unquote('-webkit-calc(50% - 14px)');
  top: unquote('-moz-calc(50% - 14px)');
  left: unquote('-moz-calc(50% - 14px)');
  top: unquote('calc(50% - 14px)');
  left: unquote('calc(50% - 14px)');
}

.m-mediaModal__stageWrapper {
  float: left;
  height: 100%;
  min-height: 480px;
  position: relative;
  text-align: center;
  // z-index: 9999997;
  @include m-theme() {
    background-color: rgba(themed($m-black-always), 0.9);
    box-shadow: 0 0 8px rgba(themed($m-black-always), 0.15);
  }
}

.m-mediaModal__mediaWrapper--richEmbed {
  width: 100%;

  .meta {
    display: none;
  }
}

.m-mediaModal__mediaWrapper--blog {
  line-height: initial;
  overflow-y: auto;
  text-align: left;

  @include m-theme() {
    color: themed($m-black);
  }

  h1.m-blog--title {
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 1.5px;
    font-family: 'Roboto', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-align: left;

    @media only screen and (max-width: $min-tablet) {
      font-size: 24px;
    }
  }

  p {
    @include m-theme() {
      color: themed($m-black);
    }
  }

  .minds-blog-body img {
    @media screen and (max-width: 891px) {
      width: 100vw;
    }
    max-width: initial;
    height: auto;
    width: 80%;
    margin: 0 -100px;
  }

  .m-blog--image--caption {
    @include m-theme() {
      color: themed($m-black);
    }
  }
}

.m-mediaModal__stage {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 402px;
  position: relative;
  width: 100%;
}

.m-mediaModal__mediaWrapper {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;

  .m-mediaModal__media--image,
  m-videoPlayer {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: top;
  }

  .m-mediaModal__media--image {
    object-fit: contain;
  }

  &.m-mediaModal__mediaWrapper--blog {
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 1.58 !important;
    text-align: left;

    .m-blog--image > img {
      max-width: 100%;
    }
  }
}

.m-mediaModal__overlayContainer {
  left: 0;
  line-height: 1.28;
  padding: 24px 24px 16px 24px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  @include m-theme() {
    background: linear-gradient(
      rgba(themed($m-black-always), 0.5),
      rgba(themed($m-black-always), 0)
    );
    color: themed($m-white-always);
  }
}

.m-mediaModal__overlayTitleWrapper {
  font-size: 21px;
  letter-spacing: 1.1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 36px;
  @include m-theme() {
    color: themed($m-white-always);
  }

  .m-mediaModal__overlayTitle {
    text-decoration: none;
    cursor: pointer;

    > * {
      &:not(.m-mediaModal__overlayTitleSeparator) {
        padding-right: 8px;
      }
    }
    a {
      text-decoration: none;
      font-weight: 400;
      @include m-theme() {
        color: themed($m-white-always);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .m-mediaModal__overlayTitle--fullscreen {
    vertical-align: middle;

    img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  .m-mediaModal__overlayTitleSeparator {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    @include m-theme() {
      background-color: themed($m-white-always);
    }
  }
}

.m-mediaModal__fullscreenButtonWrapper {
  cursor: pointer;
  padding: 24px;
  position: absolute;
  right: 0;
  top: 0;

  .m-mediaModal__fullscreenButton {
    float: left;
    margin-left: 16px;
    display: block;
    padding: 0;
    position: static;
    right: 0;
    top: 0;
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1) !important;

    i {
      opacity: 0.75;
      transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1) !important;
      @include m-theme() {
        color: themed($m-white-always);
      }

      &.m-mediaModal__fullscreenIcon--enable {
        font-size: 30px;
      }
      &.m-mediaModal__fullscreenIcon--disable {
        font-size: 34px;
      }

      &:active {
        &.m-mediaModal__fullscreenIcon--enable {
          transform: scale(1.2, 1.2);
        }
        &.m-mediaModal__fullscreenIcon--disable {
          transform: scale(0.83, 0.83);
        }
      }
    }

    &.m-mediaModal__fullscreenButton--hovering {
      i {
        opacity: 1;
        &.m-mediaModal__fullscreenIcon--enable {
          transform: scale(1.2, 1.2);
        }
        &.m-mediaModal__fullscreenIcon--disable {
          transform: scale(0.83, 0.83);
        }
      }
    }
  }
}

m-media--modal {
  .m-mediaModal__wrapper {
    .m-mediaModal__pager {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      position: absolute;
      margin-top: -22px;
      top: 50%;
      line-height: 1;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1) !important;

      @include m-theme() {
        color: rgba(themed($m-white-always), 0.7);
        text-shadow: 0 0 2px rgba(themed($m-black-always), 0.4);
      }

      &.m-mediaModal__pager--previous {
        left: 6px;
      }

      &.m-mediaModal__pager--next {
        right: 6px;
      }

      &:hover {
        transform: scale(1.2, 1.2);
        @include m-theme() {
          color: rgba(themed($m-white-always), 0.95);
        }
      }

      > i {
        transform: scale(1.3, 1.8);
      }
    }
  }
}

.m-mediaModal__contentContainer {
  height: 100%;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }
}

.m-mediaModal__contentBody {
  position: relative;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.m-mediaModal__scrollableAreaContainer {
  height: auto;
  margin-left: -100px;
  margin-right: -20px;
  padding-left: 100px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  position: relative;
  width: 100% !important;

  &.m-mediaModal__contentBefore {
    top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &.m-mediaModal__contentBefore:before,
  &.m-mediaModal__contentAfter:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
  }
}

.m-mediaModal__scrollableAreaWrapper {
  // overscroll-behavior: contain contain;
  margin-left: -100px;
  margin-right: -50px;
  padding-left: 100px;
  padding-right: 50px;

  min-height: 320px;
  height: 100%;
  outline: none;
  overflow-x: hidden;
  position: relative;
  overflow-y: scroll;
}
.scrollableAreaBody {
  direction: ltr;
  position: relative;
}
.scrollableAreaContent {
  padding: 0;
}

.m-mediaModal__ownerBlock {
  margin-top: 0;
  padding: 16px;
  position: relative;
  margin-right: 12px;

  a:not(.permalink) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .m-mediaModal__ownerBlockAvatar {
    margin-right: 10px;
    float: left;
    display: block;

    a {
      overflow: visible;
    }

    img {
      height: 50px;
      width: 50px;
      float: left;
    }
  }

  .m-mediaModal__ownerBlockBody {
    overflow: hidden;

    > * {
      display: block;
    }

    .m-ownerBlock__channelLink,
    .m-ownerBlock__groupLink {
      text-decoration: none;
      vertical-align: middle;
    }

    strong {
      letter-spacing: 0.25px;
      text-rendering: optimizeLegibility;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
    }

    .m-channel--badges-entity {
      display: inline-flex;
    }

    .m-ownerBlock__permalink {
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      text-rendering: optimizeLegibility;
      text-overflow: unset;
      white-space: pre-wrap;
      line-height: 18px;
      -webkit-font-smoothing: antialiased;
      @include m-theme() {
        color: themed($m-grey-400);
      }

      > * {
        padding-right: 8px;
      }

      &:hover {
        .m-ownerBlock__permalinkDate {
          text-decoration: underline;
        }
      }

      .m-ownerBlock__permalinkFlag {
        text-transform: uppercase;
        padding: 0 8px 0 0;
        letter-spacing: 0.5px;
        font-weight: 700;
        font-size: 11px;
        line-height: 1;
        @include m-theme() {
          color: themed($m-grey-400);
        }
      }

      .m-ownerBlock__permalinkFlag--boosted {
        display: inline-block;
        width: auto;
        vertical-align: middle;

        i {
          font-size: 18px;
          position: relative;
          vertical-align: middle;
        }

        a {
          vertical-align: middle;
          font-weight: 700;
          @include m-theme() {
            color: themed($m-grey-400);
          }
        }

        &.m-ownerBlock__permalinkFlag--onchain {
          @include m-theme() {
            color: themed($m-blue);
          }
          a {
            @include m-theme() {
              color: themed($m-blue);
            }
          }
        }
      }
    }
  }

  m-postMenu--v2 {
    margin-left: auto;
    margin-right: -15px;
  }
}

.m-mediaModal__message {
  span {
    white-space: pre-line;
    word-wrap: break-word;
  }
  a {
    text-decoration: none;
  }
}

.m-mediaModal__actionButtonsWrapper {
  .m-mediaModal__actionButtonsRow {
    display: flex;
    justify-content: space-around;
    width: auto;
    padding: 0 0 16px 0;
    margin: 16px 12px 0 12px;
    @include m-theme() {
      border-bottom: 1px solid themed($m-borderColor--primary);
    }
    .m-mediaModal__actionButton--share {
      @include m-theme() {
        color: themed($m-blue-grey-600);
      }
    }
    .m-tipButton {
      &:hover {
        i {
          @include m-theme() {
            color: themed($m-blue-grey-800);
          }
        }
      }
      i {
        font-size: 23px;
        padding-top: 2px;
        @include m-theme() {
          color: themed($m-blue-grey-500);
        }
      }
    }
  }
  .m-wire-button {
    @include m-theme() {
      border: none;
    }
    span {
      display: none;
    }
    > .ion-icon {
      transform: scale(1.4);
    }
  }
}

.m-mediaModal__comments {
  padding: 8px 16px;
  display: block;
  margin-bottom: 0;
  flex: 1;

  m-comments__tree {
    height: 100%;
    position: relative;
    padding: 0 0 24px;
    margin: 0;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;

    m-comments__thread {
      height: 100%;
      position: relative;
      padding: 0;
      margin: 0;
      flex-direction: column;
      box-sizing: border-box;

      .m-comments__thread {
        overflow-y: auto;
        max-height: auto;
        flex: 1;
        display: flex;
        flex-direction: column;

        .minds-avatar {
          width: 36px;
          height: 36px;
          margin-left: 0;
          overflow: visible;
        }
        .m-body {
          margin-left: 0;
        }

        .m-comment-attachment .item-image {
          img,
          minds-video {
            max-width: 50%;
          }
        }
      }
      .minds-comment {
        padding: 8px 0px;

        .mdl-card__menu {
          display: none;
        }

        &:hover .mdl-card__menu {
          display: block;
        }

        .m-comment-attachment .m-rich-embed {
          max-width: 63%;
          .m-blurb {
            display: block;
          }
        }
      }

      .minds-comment-post {
        flex-shrink: 0;
      }

      .post-preview {
        width: 63%;
        height: auto;

        .attachment-preview {
          height: 140px;
          object-fit: cover;
        }
      }

      .minds-comments-container {
        overflow-y: visible;
        height: auto;
        max-height: none;
      }
    }
  }
}

.m-mediaModal__clearFix:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

// ** NSFW -----------------------------

m-media--modal {
  .m-mature-text-toggle {
    i {
      margin-right: 3px;
    }
  }

  .m-mediaModal__stage {
    m-blog-view {
      .m-mature-content {
        .m-mature-overlay {
          .m-mature-overlay-note {
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  .m-mediaModal__stage {
    .m-mature-content {
      .m-mature-overlay {
        .m-mature-overlay-note {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column nowrap;
          top: auto;
          line-height: 20px;
          transform: none;
          span {
            line-height: 20px;
          }
        }
      }
    }
    .m-mature-content-shown {
      .m-mature-overlay {
        top: 0;
        right: 0;
        border-radius: 0;
        @include m-theme() {
          background-color: rgba(255, 255, 255, 0);
        }
        .m-mature-overlay-note {
          i {
            display: none;
          }
        }
      }
    }
  }
}
