.m-topbar__spacer {
  flex-grow: 1;
  opacity: 0;
}

.m-topbar--homepageV3 {
  .m-topbar__leftColumn {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    border-right: none !important;
    width: unset !important;
    min-width: unset !important;
  }

  .m-pageLayout__container {
    width: 100% !important;
    min-width: unset !important;
    box-sizing: border-box;
    padding: 0 32px !important;
    max-width: 1244px !important;

    .m-pageLayout__pane--main {
      max-width: unset !important;
    }
  }

  .m-topbarLoginWrapper__joinMindsNow {
    @media screen and (max-width: $max-mobile) {
      display: none !important;
    }

    .m-button--solid,
    .m-button--overlay {
      color: #fff !important;

      &:hover {
        @include m-theme() {
          background-color: themed($m-link--hover) !important;
        }
      }
    }
  }

  .m-topbarLoginWrapper__login--white button:not(:active, :hover) {
    color: #fff !important;
  }

  .m-topbarNav__item--hamburger {
    display: none !important;
  }

  .m-topbarNav__item--logo {
    display: block !important;

    .m-topbar__logo--bulb {
      display: none !important;
    }

    .m-topbar__logo--full {
      display: block !important;
    }
  }
}

h1 {
  margin: 0;
}

.m-topbar__leftColumn {
  display: flex;
  align-items: center;

  @media screen and(max-width: $m-grid-max-mobile) {
    // margin-left: 23px;
  }

  &.m-topbar__leftColumn__rightAlign {
    justify-content: flex-end;
  }
}

.m-topbar__middleColumn {
  width: $layoutMainFullWidth;
}

.m-topbar__middleColumn,
.m-topbar__rightColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: $max-mobile) {
    width: 100%;
  }
}

.m-topbar__top {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  //width: 100%;
  //min-width: 330px;
  margin: 0;
  padding: 0;
  border: none;
  height: 75px;
  width: 100%;

  .m-topbarTop__inner {
    height: 100%;
  }

  @include m-theme() {
    background-color: themed($m-bgColor--primary);
    border-bottom: 1px solid themed($m-borderColor--primary);
  }

  &.m-topbar__top--noBackground {
    @include m-theme() {
      background-color: transparent;
      border-bottom: none;
    }
  }

  &.m-topbar__top--noBorder {
    @include m-theme() {
      border: none;
    }

    .m-pageLayout__pane--left {
      @include m-theme() {
        border-right: 0;
      }
    }

    .m-topbarContainer__loginWrapper > a {
      @include m-theme() {
        background: transparent;
        border: 1px solid themed($m-black-always);
        color: themed($m-black-always);
      }
    }
  }

  &.m-topbar__top--loggedOut {
    .m-grid > * {
      border: none !important;
    }
  }

  .m-topbar__searchBox {
    height: 100%;
    width: 100%;

    m-search--bar {
      display: block;
      padding: 0;
      width: 100%;
      height: 100%;

      &.m-search__bar--active {
        @include m-theme() {
          border-right: 1px solid themed($m-borderColor--primary);
        }
        @media screen and(max-width: $layoutMin3ColWidth) {
          @include m-theme() {
            border-right: 0;
          }
        }
      }

      > .mdl-textfield {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 0 40px;
        height: 100%;

        .m-topbar--isActivityV2 & {
          padding: 0 $spacing4;
        }

        @media screen and (max-width: $layoutMin3ColWidth) {
          padding: 0 $spacing4;
        }

        @media screen and(max-width: $layoutMin2ColWidth) {
          // width: 20px;
          transition: width ease-in-out 0.2s;
          padding: 0;

          &.is-focused {
            width: 270px;
          }
        }

        .m-searchBar__searchIcon {
          position: relative;
          margin: 0;
          font-size: 24px;

          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }

        input {
          background: transparent;
          outline: 0;
          border: 0;
          font-size: 16px;
          line-height: 21px;
          font-weight: normal;

          @media screen and (max-width: $layoutMin3ColWidth) {
            padding-left: $spacing4;
          }

          @media screen and(max-width: $m-grid-max-mobile) {
            padding-left: 12px;
          }
        }
      }

      .mdl-textfield__label {
        display: none;
      }
    }
  }

  .m-topbarContainer__loginWrapper {
    m-button:not(:first-child) {
      margin-left: 10px;
    }

    > a {
      text-decoration: none;
      height: 32px;
      border-radius: 18px;
      font-size: 12px;
      letter-spacing: 1.25px;
      box-shadow: none;
      text-transform: uppercase;
      padding: 8px 16px;
      font-family: 'Roboto', sans-serif;
      cursor: pointer;
      @include m-theme() {
        background-color: themed($m-bgColor--primary);
        border: 1px solid themed($m-blue);
        color: themed($m-blue);
      }
    }

    > a.m-topbarLoginWrapper__login,
    > a.m-topbarLoginWrapper__joinMindsNow {
      font-size: 16px;
      line-height: 21px;
      font-weight: normal;
      text-transform: none;
      white-space: nowrap;

      @include m-theme() {
        color: themed($m-grey-800) !important;
      }
    }

    > a.m-topbarLoginWrapper__login {
      padding: 0;
      margin-right: 0 !important;
      border: none !important;
    }

    > a.m-topbarLoginWrapper__joinMindsNow {
      margin-left: $minds-margin * 2;
      @include m-theme() {
        border: 1px solid themed($m-grey-800) !important;
      }
      margin-right: 0 !important;
      border-radius: 4px;
    }
  }

  m-notifications--topbar-toggle {
    position: relative;

    @media screen and (max-width: 480px) {
      .m-tooltip--bubble {
        display: none;
      }
    }
  }
}

.m-topbar__nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  m-environmentFlag > span {
    @media screen and (max-width: $layoutMax3ColWidth) {
      display: none;
    }
  }
}

.m-topbarNav__item {
  padding: 11px 12px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 3px solid transparent;
  text-decoration: none;
  @include m-theme() {
    color: themed($m-grey-800);
  }

  &.m-topbarNav__item--active {
    @include m-theme() {
      color: themed($m-blue);
      border-color: themed($m-blue);
    }
  }

  &.m-topbarNav__item--no-padding {
    padding: 0 12px;

    @media screen and (max-width: 480px) {
      padding: 0 4px;
    }
  }

  > img {
    height: 36px;
  }

  > i {
    margin-right: 8px;
    font-size: 22px;
  }

  > span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 11px;

    @media screen and (max-width: 810px) {
      display: none;
    }
  }

  &.m-topbarNav__item--logo {
    margin: 0 8px 0 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
    transition: opacity 0.5s ease;

    @media screen and (max-width: $layoutMax3ColWidth) {
      margin: 0;
    }

    @media screen and (max-width: $max-mobile) {
      display: none;
    }

    .m-topbar__logo--bulb {
      height: 36px;
      transform: translateY(
        4px
      ); // overlap effect while still retaining flexbox.

      //display: none;
      @media screen and (min-width: $layoutMax3ColWidth) {
        display: none;
      }
    }

    .m-topbar__logo--full {
      height: 42px;
      @media screen and (max-width: $layoutMax3ColWidth) {
        display: none;
      }
    }
  }

  &.m-topbarNav__item--hamburger {
    cursor: pointer;

    @media screen and (min-width: $max-mobile) {
      display: none;
    }
  }
}

// .m-theme__dark .m-topbarNavItem__logo,
// .m-theme__light .m-topbarNavItem__logo:hover {
//   filter: grayscale(100%);
// }
//
// .m-theme__dark .m-topbarNavItem__logo:hover {
//   filter: grayscale(0%);
// }

.m-topbar__avatar {
  cursor: pointer;

  @media screen and (max-width: 810px) {
    margin: 0 16px;
  }

  .minds-avatar {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    @include m-theme() {
      border: 1px solid themed($m-white);
    }
  }

  &.m-topbar__avatar--active .minds-avatar {
    @include m-theme() {
      box-shadow: 0 0 0 2px themed($m-blue);
    }
  }
}

.m-topbar__userMenu {
  display: flex;
  align-items: center;
  // width: 100%;

  @media screen and(min-width: $m-grid-max-tablet) {
    // margin-left: 55px;
  }

  @media screen and(min-width: $m-grid-max-mobile) {
    // margin-left: 27px;
  }

  > * {
    margin-left: 20px;
  }

  > :first-child {
    margin-left: 0;
  }

  svg {
    @include m-theme() {
      fill: themed($m-textColor--secondary);
    }
  }
}

.m-topbarContainer__loginWrapper {
  &.m-topbarContainer__loginWrapper--roundButtons {
    display: flex;
  }

  @media screen and (max-width: 480px) {
    // display: none;
  }

  > a {
    text-decoration: none;
    height: 32px;
    border-radius: 18px;
    font-size: 12px;
    letter-spacing: 1.25px;
    box-shadow: none;
    text-transform: uppercase;
    padding: 8px 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      border: 1px solid themed($m-blue);
      color: themed($m-blue);
    }
  }
}

.m-topbar__bottom {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  min-width: 330px;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 75px;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
    border-top: 1px solid themed($m-borderColor--primary);
  }

  @media screen and (max-width: 480px) {
    display: flex;
  }

  .m-topbarNav__routerNav {
    flex-grow: 1;
    justify-content: center;
  }
}

.m-topbar__notificationsToasterWrapper {
  position: relative;
  width: 0;
  height: 0;

  .m-topbar__notificationsToaster {
    position: absolute;
    width: 1px;

    .m-notifications--toaster {
      @include z-index(toast);
      position: relative;
      top: 50px;
      right: 350px;

      @media screen and (min-width: 1083px) {
        right: 308px;
      }
    }
  }
}
