<div class="m-goBack">
  <a [routerLink]="getBackNavigationPath()" [queryParams]="{ reload: false }">
    <i class="material-icons">arrow_back</i><span>Back</span>
  </a>
</div>

<div
  class="m-discoverySearchFeed__item"
  *ngIf="entity$ | async as entity; else loadingSpinner"
  @fastFade
>
  <m-discovery__feedItem
    *ngIf="entity"
    [entity]="entity"
    [openComments]="true"
  ></m-discovery__feedItem>
</div>

<ng-template #loadingSpinner>
  <m-loadingSpinner [inProgress]="true"> </m-loadingSpinner>
</ng-template>
