@import 'defaults.scss';

:host {
  display: block;

  // *********************************
  // ** MINIMAL MODE **
  // *********************************

  &.m-activity__ownerBlock--minimalMode {
    padding-left: $spacing4;
    padding-right: $spacing2;
    padding-top: $spacing2;
    padding-bottom: $spacing2;

    .m-activityOwnerBlock__avatar {
      ::ng-deep m-hovercard {
        img {
          height: 35px;
          width: 35px;
          @include border;
        }
      }
      .m-activityOwnerBlock__remindIcon--minimalMode {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        @include m-theme() {
          background-color: themed($m-bgColor--contrast);
        }
        i {
          font-weight: 700;
          font-size: 11px;
          @include m-theme() {
            color: themed($m-link);
          }
        }
      }
    }
    .m-activityOwnerBlock__displayName,
    .m-activityOwnerBlock__groupName {
      margin-left: $spacing2;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  // *********************************
  // ** MODAL **
  // *********************************
  m-activityV2__modal & {
    .m-activity__ownerBlock {
      padding: 20px $activitySpacing--modal 0;
    }

    a.m-activityOwnerBlock__username,
    a.m-activityOwnerBlock__groupName {
      margin-left: 0;
    }
  }
  // *********************************
  // ** SIDEBAR BOOST **
  // *********************************

  m-ads-boost & {
    .m-activity__ownerBlock {
      padding: $activitySpacing--minimalMode;
    }
    .m-activityOwnerBlockPermalink__text {
      padding: 0;
    }

    .m-activityOwnerBlock__dot {
      display: none;
    }
  }

  // *********************************
  // *********************************
  // *********************************
  // ** DEFAULT **
  // *********************************
  // *********************************
  // *********************************

  .m-activity__ownerBlock {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
    padding-bottom: $spacing1;
    box-sizing: border-box;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  ::ng-deep {
    .m-activityOwnerBlock__avatar {
      align-self: center;
      padding-right: $spacing2;
      position: relative;
      img {
        border-radius: 50%;
        width: $activityAvatarWidth;
        height: $activityAvatarWidth;
        object-fit: cover;
      }
    }
  }

  a.m-activityOwnerBlock__displayName {
    @include m-theme() {
      color: themed($m-textColor--primary);
    }

    span {
      @include body1Bold;
    }

    &:hover {
      .m-activityOwnerBlock__remindIcon {
        text-decoration: none;
      }
    }
  }

  a.m-activityOwnerBlock__username,
  a.m-activityOwnerBlock__groupName {
    margin-left: $spacing1;
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
    span {
      @include body2Regular;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  .m-activityOwnerBlock__dot {
    padding: 0 $spacing1;
    @include body2Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  a.m-activityOwnerBlock__groupName {
    text-decoration: none;
    &:hover {
      text-decoration: none !important;
      span > span {
        text-decoration: underline;
      }
    }
  }

  .m-activityOwnerBlock__remindIcon {
    font-size: 18px;
    vertical-align: middle;
    @include m-theme() {
      color: themed($m-link);
    }
  }

  ::ng-deep m-activityV2__views {
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
  }

  // *********************************
  // ** FLEX STRUCTURAL CLASSES **
  // *********************************
  .m-activityOwnerBlock__spacer {
    flex: 1;
  }

  .m-activityOwnerBlock__column {
    display: flex;
    flex-direction: column;

    .m-activityOwnerBlockColumn__displayNameWrapper {
      display: flex;
      align-items: center;
    }
  }

  ::ng-deep .m-activityOwnerBlock__truncate {
    &,
    & > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  ::ng-deep .m-activityOwnerBlock__fixedWidth {
    white-space: nowrap;

    > div {
      display: inline-block;
    }
  }
}
