<div class="m-feedNotice__left">
  <i class="material-icons">{{ icon }}</i>
</div>
<div class="m-feedNotice__center">
  <ng-content></ng-content>
</div>
<div class="m-feedNotice__right">
  <i
    *ngIf="dismissible"
    class="material-icons m-feedNotice__closeButton"
    (click)="dismissClick.emit(true)"
    [attr.data-ref]="'feed-notice-dismiss-' + dataRefId"
  >
    close
  </i>
</div>
