<m-composerTitleBar__dropdown
  displayAsButton="true"
  [anchorPosition]="{ top: 0, right: 'calc(100% - 4px)' }"
>
  <m-dropdownMenu
    [menu]="nsfwSubmenu"
    [anchorPosition]="{ top: '0', right: 'calc(100% - 4px)' }"
    data-cy="meatball-menu-nsfw"
  >
    <m-dropdownMenu__item hasSubmenu="true"
      ><span i18n="@@COMMON__NSFW">NSFW</span></m-dropdownMenu__item
    >
  </m-dropdownMenu>
</m-composerTitleBar__dropdown>

<ng-template #nsfwSubmenu>
  <ul data-cy="meatball-menu-nsfw-menu">
    <m-dropdownMenu__item
      *ngFor="let reason of reasons"
      (click)="toggleNSFW(reason.value)"
      selectable="true"
      [selected]="(getNSFW() | async).indexOf(reason.value) > -1"
      ><span>{{ reason.label }}</span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>
