<div class="m-walletDashboardBalance__wrapper">
  <m-walletBalance--cash class="m-dataTabsLayout__body"></m-walletBalance--cash>
</div>

<div class="m-tabs__container">
  <li class="m-tabs__tab">
    <a
      routerLink="earnings"
      routerLinkActive="selected"
      i18n="@@WALLET__V2__TABS__PRO__EARNIGNS"
    >
      Earnings
    </a>
  </li>
  <li class="m-tabs__tab">
    <a
      routerLink="transactions"
      routerLinkActive="selected"
      i18n="@@WALLET__V2__TABS__TRANSACTIONS"
    >
      Transactions
    </a>
  </li>
  <li class="m-tabs__tab">
    <a
      routerLink="settings"
      routerLinkActive="selected"
      i18n="@@WALLET__V2__TABS__SETTINGS"
    >
      Settings
    </a>
  </li>
</div>

<div class="m-walletDashboardViews__viewsContainer" #dashboardViews>
  <router-outlet></router-outlet>
</div>
