@import 'defaults.scss';
@import '../../../common/layout/layout.scss';

:host {
  ::ng-deep m-featured-content {
    > div {
      padding: 20px 40px;
      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }

      @media screen and (max-width: $layoutMin3ColWidth) {
        padding: 20px;
      }
    }

    m-activityV2 {
      padding: 0;
    }
  }

  // when the m-seeLatestPostsButton appears, make .m-goBack's position absolute
  // because m-seeLatestPostsButton has a sticky position and its relative positioning
  // should be defining the vertical spacing rather than .m-goBack's
  m-seelatestpostsbutton + .m-goBack {
    position: absolute;
    top: 60px;
  }

  ::ng-deep m-seeLatestPostsButton > div {
    position: sticky !important;
    margin-top: 14px;
    margin-bottom: -6px;
    @include z-index(body);
  }

  // *********************************
  // ** ACTIVITY V2 **
  // *********************************

  &.m-discovery__search--activityV2 {
    ::ng-deep {
      m-featured-content {
        > div {
          padding: 0;
        }
      }

      m-publisherCard {
        .m-publisherCard {
          @include borderNone;
          @include borderBottom;

          padding-left: $activityAvatarSpacingLeft--feed;
          padding-right: $activitySpacingRight--feed;

          @media screen and (max-width: $max-mobile) {
            padding-left: $activityAvatarSpacingLeft--feed--mobile;
            padding-right: $activitySpacingRight--feed--mobile;
          }
        }
      }
    }
  }
}
