@use "sass:math";

@import 'defaults';

minds-notification.mdl-card {
  width: 100%;
  min-height: 0;
  padding: $minds-padding * 2;
  margin-bottom: $minds-margin * 2;

  display: flex;
  flex-direction: row;

  &:not(.mdl-shadow--2dp) {
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      border-bottom: 1px solid themed($m-borderColor--primary);
    }
  }

  .avatar {
    display: flex;
    flex-direction: column;

    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }

  .body {
    padding: 0 $minds-padding * 2;

    a {
      text-decoration: none;
      @include m-theme() {
        color: themed($m-grey-900);
      }
    }

    .pseudo-link {
      font-weight: bold;
      vertical-align: baseline;
    }

    p {
      padding: 0;
      margin: 0;
    }

    .ts {
      font-size: 11px;
    }
  }
}

minds-notifications {
  grid-area: content/span 2;
  min-width: 0;

  .m-notifications--load-new {
    text-transform: uppercase;
    font-family: 'Roboto', Helvetica, sans-serif;
    letter-spacing: 2.5px;
    cursor: pointer;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    padding: 8px;
    text-align: center;

    a {
      margin: 0 auto;
    }
  }

  .mdl-tabs__tab {
    overflow: visible;
    flex: 1;
    padding: 0 12px;
    text-transform: unset;

    m-tooltip {
      padding-right: 4px;
    }

    .m-full-label {
      display: inline-block;
    }

    .m-icon,
    .material-icons {
      line-height: 2em;
      margin-left: 0.35em;
      vertical-align: middle;
      opacity: 0.45;
      cursor: pointer;
    }

    @media only screen and (max-width: $min-desktop) {
      padding: 0 $minds-padding * 2;

      .m-full-label {
        display: none;
      }

      .m-icon {
        margin-left: 0;
        opacity: 1;
      }
    }

    @media only screen and (max-width: $max-mobile) {
      padding: 0 $minds-padding * 1.5;
    }

    @media only screen and (max-width: $min-mobile) {
      padding: 0 math.div($minds-padding, 1.333);
    }
  }

  .notifications-grid {
    // Styles for notifications page list
  }
}
