@import 'defaults.scss';

:host {
  .m-notifications--topbar-toggle--icon {
    font-size: 15px;

    display: flex;
    align-items: center;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-notifications--topbar-toggle--icon--active i {
    margin-right: 6px;

    &::after {
      @include m-theme() {
        background-color: themed($m-alert);
      }
    }
  }

  i {
    cursor: pointer;
  }

  .counter {
    cursor: default;
  }

  .m-notifications--topbar-toggle--icon--active {
    i {
      position: relative;

      &::after {
        border-radius: 50%;
        display: block;
        height: 8px;
        width: 8px;
        content: '';
        position: absolute;
        top: -2px;
        right: 2px;
        @include m-theme() {
          background-color: themed($m-blue);
        }
      }
    }
  }

  .m-notifications--topbar-toggle-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .m-tooltip--bubble {
    position: absolute;
    right: -40px;
    top: 28px;
  }
}
