@import 'defaults';

:host {
  .m-newsfeed__subscribed__feedType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: $minds-padding * 3;

    .m-newsfeed__subscribed__feedType__title {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      font-size: 24px;
      font-weight: bold;
      position: relative;
      top: 2px;
    }
  }

  // ******************************************
  // ** ACTIVITY V2 **
  // ******************************************

  &.m-feedHeader--activityV2 {
    .m-newsfeed__subscribed__feedType {
      padding: $spacing6 $spacing4;

      @media screen and (max-width: $max-mobile) {
        padding: $spacing5 $spacing4 $spacing4 $spacing4;
      }
    }
  }
}
