<!-- ----------------------------- -->
<!-- ALGORITHMS -->
<!-- ----------------------------- -->
<m-dropdownMenu
  #algorithmDropdown
  [menu]="algorithmMenu"
  *ngIf="shouldShowAlgorithms()"
>
  <label [ngClass]="[labelClass]">
    <i
      *ngIf="getCurrentAlgorithmProp('icon')"
      class="material-icons m-sortSelectorLabel__icon"
      >{{ getCurrentAlgorithmProp('icon') }}</i
    >

    <span class="m-sortSelectorLabel__text">{{
      getCurrentAlgorithmProp('label')
    }}</span>

    <i class="material-icons m-sortSelectorLabel__caret">keyboard_arrow_down</i>
  </label>
</m-dropdownMenu>

<ng-template #algorithmMenu>
  <ul>
    <m-dropdownMenu__item
      *ngFor="let item of getAlgorithms()"
      (click)="setAlgorithm(item.id); closeDropdowns()"
      [icon]="item.icon"
      [selectable]="true"
      [selected]="item.id === algorithm"
      [disabled]="isDisabled(item.id)"
      ><span>{{ item.label }}</span></m-dropdownMenu__item
    >
  </ul>
</ng-template>

<!-- ----------------------------- -->
<!-- TIME PERIODS -->
<!-- ----------------------------- -->
<m-dropdownMenu
  *ngIf="shouldShowPeriods() && hasCurrentAlgorithmPeriod()"
  #periodDropdown
  [menu]="periodMenu"
>
  <label [ngClass]="[labelClass]">
    <span class="m-sortSelectorLabel__text">{{ getCurrentPeriodLabel() }}</span>

    <i class="material-icons m-sortSelectorLabel__caret">keyboard_arrow_down</i>
  </label>
</m-dropdownMenu>

<ng-template #periodMenu>
  <ul>
    <m-dropdownMenu__item
      *ngFor="let item of getPeriods()"
      (click)="setPeriod(item.id); closeDropdowns()"
      [selectable]="true"
      [selected]="item.id === period"
      ><span>{{ item.label }}</span></m-dropdownMenu__item
    >
  </ul>
</ng-template>

<!-- ----------------------------- -->
<!-- CUSTOM TYPES -->
<!-- ----------------------------- -->
<m-dropdownMenu
  #customTypeDropdown
  [menu]="customTypeMenu"
  [anchorPosition]="{ top: '100%', right: '0' }"
>
  <label [ngClass]="[labelClass]">
    <i
      *ngIf="getCurrentCustomTypeProp('icon')"
      class="material-icons m-sortSelectorLabel__icon"
      >{{ getCurrentCustomTypeProp('icon') }}</i
    >

    <span class="m-sortSelectorLabel__text">{{
      getCurrentCustomTypeProp('label')
    }}</span>

    <i class="material-icons m-sortSelectorLabel__caret">keyboard_arrow_down</i>
  </label>
</m-dropdownMenu>

<ng-template #customTypeMenu>
  <ul>
    <m-dropdownMenu__item
      *ngFor="let item of getCustomTypes()"
      (click)="setCustomType(item.id); closeDropdowns()"
      [icon]="item.icon"
      [selectable]="true"
      [selected]="item.id === customType"
      ><span>{{ item.label }}</span></m-dropdownMenu__item
    >
  </ul>
</ng-template>
<!-- ----------------------------- -->
<!-- MINDS+ -->
<!-- ----------------------------- -->
<ng-container *ngIf="showPlusFilter">
  <label
    [ngClass]="[labelClass]"
    [class.m-sortSelector__label--selected]="plusFilterApplied"
    (click)="setPlus()"
  >
    <i class="material-icons m-sortSelectorLabel__icon">add_to_queue</i>
    <span class="m-sortSelectorLabel__text">Minds+</span>
  </label>
</ng-container>
