@import 'defaults.scss';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;

  > :last-child {
    margin-left: auto;
  }

  .m-sortSelector__label {
    cursor: pointer;
  }

  ::ng-deep {
    m-dropdownMenu {
      &:not(:last-child) {
        margin-right: $spacing4;
      }
    }

    .m-sortSelector__label {
      display: flex;
      text-transform: capitalize;
      font-size: 15px;
      letter-spacing: 0;
      padding-left: $spacing1;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }

    .m-sortSelectorLabel__icon {
      font-size: 18px;
      margin-right: $spacing2;
    }

    .m-sortSelectorLabel__caret {
      margin-left: $spacing1;
      height: $spacing5;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  .m-sortSelector__label--selected {
    > * {
      @include m-theme() {
        color: themed($m-blue);
      }
    }
  }
}
