<m-dropdownMenu
  triggerClass="m-composerTitleBar__menuButton"
  menuClass="m-composerTitleBar__menu"
  [anchorPosition]="anchorPosition"
  [menu]="mainMenu"
  [hidden]="isPosting$ | async"
  hasSubmenu="true"
  data-cy="meatball-menu-trigger"
>
  <!-- ------------------------------------ -->
  <!-- MAIN MENU TRIGGER -->
  <!-- ------------------------------------ -->
  <m-icon *ngIf="!displayAsButton" iconId="more_vert"></m-icon>
  <m-button *ngIf="displayAsButton" overlay="true" size="xsmall" iconOnly="true"
    ><i class="material-icons">more_vert</i></m-button
  >
</m-dropdownMenu>

<!-- ------------------------------------ -->
<!-- MAIN MENU ITEMS -->
<!-- ------------------------------------ -->
<ng-template #mainMenu>
  <ul data-cy="meatball-menu">
    <!-- VISIBILITY SUBMENU TRIGGER -->
    <m-dropdownMenu
      [menu]="visibilitySubmenu"
      [anchorPosition]="submenuAnchorPosition"
      data-cy="meatball-menu-visibility"
    >
      <m-dropdownMenu__item *ngIf="canChangeVisibility" hasSubmenu="true"
        ><span>Visibility</span>
      </m-dropdownMenu__item>
    </m-dropdownMenu>

    <!-- LICENSE SUBMENU TRIGGER -->
    <m-dropdownMenu
      [menu]="licenseSubmenu"
      [anchorPosition]="submenuAnchorPosition"
      data-cy="meatball-menu-license"
    >
      <m-dropdownMenu__item hasSubmenu="true"
        ><span>License</span>
      </m-dropdownMenu__item>
    </m-dropdownMenu>

    <!-- PERMAWEB SUBMENU TRIGGER -->
    <m-dropdownMenu
      *ngIf="shouldShowPermawebOption()"
      [menu]="permawebSubmenu"
      [anchorPosition]="submenuAnchorPosition"
      data-cy="meatball-menu-permaweb"
    >
      <m-dropdownMenu__item hasSubmenu="true"
        ><span>Permaweb</span>
      </m-dropdownMenu__item>
    </m-dropdownMenu>

    <ng-content></ng-content>
  </ul>
</ng-template>

<!-- ------------------------------------ -->
<!-- SUBMENUS -->
<!-- ------------------------------------ -->

<!-- VISIBILITY SUBMENU ITEMS -->
<ng-template #visibilitySubmenu>
  <ul data-cy="meatball-menu-visibility-menu">
    <m-dropdownMenu__item
      *ngFor="let visibilityItem of visibilityItems"
      (click)="onVisibilityClick(visibilityItem.value)"
      selectable="true"
      [selected]="(accessId$ | async) === visibilityItem.value"
      ><span>{{ visibilityItem.text }}</span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>

<!-- LICENSE SUBMENU ITEMS -->
<ng-template #licenseSubmenu>
  <ul data-cy="meatball-menu-license-menu">
    <m-dropdownMenu__item
      *ngFor="let licenseItem of licenseItems"
      (click)="onLicenseClick(licenseItem.value)"
      selectable="true"
      [selected]="(license$ | async) === licenseItem.value"
      ><span>{{ licenseItem.text }}</span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>

<!-- PERMAWEB SUBMENU ITEMS -->
<ng-template #permawebSubmenu>
  <ul data-cy="meatball-menu-license-menu">
    <m-dropdownMenu__item
      (click)="onPostToPermawebClick()"
      selectable="true"
      [selected]="service.postToPermaweb$ | async"
      ><span>Post to Permaweb</span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>
