<m-dropdownMenu
  [menu]="nsfwSubmenu"
  [anchorPosition]="{ top: '0', right: 'calc(100% - 4px)' }"
  data-cy="data-minds-nsfw-selector"
>
  <m-dropdownMenu__item hasSubmenu="true"
    ><span i18n="@@COMMON__NSFW">NSFW</span></m-dropdownMenu__item
  >
</m-dropdownMenu>

<ng-template #nsfwSubmenu>
  <ul>
    <m-dropdownMenu__item
      *ngFor="let reason of service.reasons"
      (click)="toggle(reason)"
      selectable="true"
      [selected]="reason.selected"
      [icon]="reason.locked ? 'locked' : null"
      >{{ reason.label }}
    </m-dropdownMenu__item>
  </ul>
</ng-template>
